<div class="row">
	<center>
		<h1 style="margin-top:0px; padding-top:0px;">Lic. Administración</h1>
	</center>
</div>

<div class="row">
	<div class="col-xs-2">
		<center>
			<h4 style="margin-bottom: 20px">Semestres</h4>
			<button class="btn btn-primary btn-semestres">1</button>
			<button class="btn btn-primary btn-semestres">2</button>
			<button class="btn btn-primary btn-semestres">3</button>
			<button class="btn btn-primary btn-semestres">4</button>
			<button class="btn btn-primary btn-semestres">5</button>	
		</center>
	</div>
	<div class="col-xs-10">
		<center>
	</div>
</div>