<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main" ng-controller="geebController as vm">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

    <section id="content">
        <div class="container">
<center>
		<h1 style="margin-top:0px; padding-top:0px;">Ing. Biomedica</h1>
	</center>
</div>

<div class="row">
	<div class="col-xs-2">
		<center>
			<h4 style="margin-bottom: 20px">Semestres</h4>
			<button style="background-color: #d5e5f1;"i class="zmdi zmdi-collection-item-1 zmdi-hc-2x"</i></button><br><br>
			<button style="background-color: #d5e5f1;"  i class="zmdi zmdi-collection-item-3 zmdi-hc-2x"</i></button><br><br>
			<button style="background-color: #d5e5f1;" i class="zmdi zmdi-collection-item-5 zmdi-hc-2x"</i></button><br><br>
			<button style="background-color: #d5e5f1;" i class="zmdi zmdi-collection-item-7 zmdi-hc-2x"</i></button><br><br>
			<button style="background-color: #d5e5f1;" i class="zmdi zmdi-collection-item-9 zmdi-hc-2x"</i></button><br><br>
		</center>
	</div>
	<div class="col-xs-10">
		<center>
			<h4 style="color: #34495e">Pre-Horarios</h4>
		</center>
<br><br>
<p>PAQUETE  Matutino</p><center><p>Primer Semestre</p></center>
<div class="table-responsive">
            <table class="table">
                <thead>
                    <tr >
						<th>Materia</th>
						<th>No. Creditos</th>
						<th>Hrs sem</th>
						<th>Maestro</th>
						<th>Aula</th>
						<th>lunes</th>
						<th>Martes</th>
						<th>Miercoles</th>
						<th>Jueves</th>
						<th>Viernes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="info">
						<td>Calculo Diferencial</td>
						<td>5</td>
						<td>5</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('MAYBOCA ARAUJO HILARIO')" style="cursor: pointer;">MAYBOCA ARAUJO HILARIO</td>
						<td>B3D</td>
						<td>12:00 - 13:00</td>
						<td>11:00 - 13:00</td>
						<td> - </td>
						<td>11:00 - 13:00</td>
						<td> - </td>
                    </tr>
                    <tr >
						<td>FUNDAMENTOS DE PROGRAMACIÓN</td>
						<td>5</td>
						<td>5</td>
						<td>TRUJILLO VENEGAS DOMINGO</td>
						<td>B21</td>
						<td>10:00 - 11:00</td>
						<td>9:00  - 11:00</td>
						<td> - </td>
						<td>9:00 - 11:00</td>
						<td> - </td>
                    </tr>
                    <tr class="info">
						<td>TALLER DE ÉTICA</td>
						<td>4</td>
						<td>4</td>
						<td>GUILLERMO ROBLES</td>
						<td>A81</td>
						<td> - </td>
						<td> - </td>
						<td>9:00 - 11:00</td>
						<td> - </td>
						<td>9:00 - 11:00</td>
                    </tr>
                    <tr >
						<td>INTRODUCCIÓN A LA INGENIERÍA BIOMÉDICA</td>
						<td>4</td>
						<td>4</td>
						<td>SIN MAESTRO</td>
						<td>B3D</td>
						<td> - </td>
						<td> - </td>
						<td>11:00 - 13:00</td>
						<td> - </td>
						<td>11:00 - 13:00</td>
                    </tr>
                    <tr class="info">
						<td>QUÍMICA INORGÁNICA</td>
						<td>5</td>
						<td>5</td>
						<td>PRECIADO LEON JULIA GRACIELA</td>
						<td>B3D</td>
						<td>7:00 - 8:00</td>
						<td> - </td>
						<td>7:00 - 9:00</td>
						<td> - </td>
						<td>7:00 - 9:00</td>
                    </tr>
                    <tr >
						<td>FUNDAMENTOS DE INVESTIGACIÓN</td>
						<td>4</td>
						<td>4</td>
						<td>MA. ELSA JIMENEZ FERNANDEZ</td>
						<td>B3D</td>
						<td> - </td>
						<td>7:00 - 9:00</td>
						<td> - </td>
						<td>7:00 - 9:00</td>
						<td> - </td>
                    </tr>
                    <tr class="info">
						<td>TUTORIAS I</td>
						<td>1</td>
						<td>2</td>
						<td>PEREYDA PIERRE CARLOS ALBERTO</td>
						<td>B3D</td>
						<td>8:00 - 10:00</td>
						<td> - </td>
						<td> - </td>
						<td> - </td>
						<td> - </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br><br>
<p>PAQUETE  Vespertino</p><center><p>Primer Semestre</p></center>
<div class="table-responsive">
            <table class="table">
                <thead>
                    <tr >
						<th>Materia</th>
						<th>No. Creditos</th>
						<th>Hrs sem</th>
						<th>Maestro</th>
						<th>Aula</th>
						<th>lunes</th>
						<th>Martes</th>
						<th>Miercoles</th>
						<th>Jueves</th>
						<th>Viernes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="info">
						<td>Calculo Diferencial</td>
						<td>5</td>
						<td>5</td>
						<td>FERRER MORENO LAZARO ALBERTO</td>
						<td>B3D</td>
						<td>12:00 - 13:00</td>
						<td>11:00 - 13:00</td>
						<td> - </td>
						<td>11:00 - 13:00</td>
						<td> - </td>
                    </tr>
                    <tr >
						<td>FUNDAMENTOS DE PROGRAMACIÓN</td>
						<td>5</td>
						<td>5</td>
						<td>LOPEZ CRUZ LUIS CARLOS</td>
						<td>B21</td>
						<td>10:00 - 11:00</td>
						<td>9:00  - 11:00</td>
						<td> - </td>
						<td>9:00 - 11:00</td>
						<td> - </td>
                    </tr>
                    <tr class="info">
						<td>TALLER DE ÉTICA</td>
						<td>4</td>
						<td>4</td>
						<td>HECTOR CASTILLO</td>
						<td>A81</td>
						<td> - </td>
						<td> - </td>
						<td>9:00 - 11:00</td>
						<td> - </td>
						<td>9:00 - 11:00</td>
                    </tr>
                    <tr >
						<td>INTRODUCCIÓN A LA INGENIERÍA BIOMÉDICA</td>
						<td>4</td>
						<td>4</td>
						<td>*OLIVA JOSE LUIS</td>
						<td>B3D</td>
						<td> - </td>
						<td> - </td>
						<td>11:00 - 13:00</td>
						<td> - </td>
						<td>11:00 - 13:00</td>
                    </tr>
                    <tr class="info">
						<td>QUÍMICA INORGÁNICA</td>
						<td>5</td>
						<td>5</td>
						<td>*JALBOUT ABRAHAM</td>
						<td>B3D</td>
						<td>7:00 - 8:00</td>
						<td> - </td>
						<td>7:00 - 9:00</td>
						<td> - </td>
						<td>7:00 - 9:00</td>
                    </tr>
                    <tr >
						<td>FUNDAMENTOS DE INVESTIGACIÓN</td>
						<td>4</td>
						<td>4</td>
						<td>CAROLINA DEL CARMEN PEREZ ABRIL</td>
						<td>B3D</td>
						<td> - </td>
						<td>7:00 - 9:00</td>
						<td> - </td>
						<td>7:00 - 9:00</td>
						<td> - </td>
                    </tr>
                    <tr class="info">
						<td>TUTORIAS I</td>
						<td>1</td>
						<td>2</td>
						<td>PRECIADO LEON JULIA GRACIELA</td>
						<td>B3D</td>
						<td>8:00 - 10:00</td>
						<td> - </td>
						<td> - </td>
						<td> - </td>
						<td> - </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br><br>
<p>PAQUETE  Matutino</p><center><p>Tercer Semestre</p></center>
<div class="table-responsive">
            <table class="table">
                <thead>
                    <tr >
						<th>Materia</th>
						<th>No. Creditos</th>
						<th>Hrs sem</th>
						<th>Maestro</th>
						<th>Aula</th>
						<th>lunes</th>
						<th>Martes</th>
						<th>Miercoles</th>
						<th>Jueves</th>
						<th>Viernes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="info">
						<td>CÁLCULO VECTORIAL</td>
						<td>5</td>
						<td>5</td>
						<td>AHUMADA FLORES JOSE CARLOS</td>
						<td>A28</td>
						<td>8:00 - 9:00</td>
						<td>7:00 - 9:00</td>
						<td> - </td>
						<td>7:00 - 9:00</td>
						<td> - </td>
                    </tr>
                    <tr >
						<td>TECNOLOGÍAS DE BASES DE DATOS</td>
						<td>4</td>
						<td>4</td>
						<td>CONTRERAS GIRON RITA</td>
						<td>L52</td>
						<td> - </td>
						<td>11:00  - 13:00</td>
						<td> - </td>
						<td>11:00  - 13:00</td>
						<td> - </td>
                    </tr>
                    <tr class="info">
						<td>BIOQUÍMICA</td>
						<td>6</td>
						<td>6</td>
						<td>*ILOKI ASSANGASIMON BERNARD</td>
						<td>A28</td>
						<td>11:00 - 13:00</td>
						<td> - </td>
						<td>11:00 - 13:00</td>
						<td> - </td>
						<td>11:00 - 13:00</td>
                    </tr>
                    <tr >
						<td>ANATOMÍA Y FISIOLOGÍA I</td>
						<td>5</td>
						<td>5</td>
						<td>*SALVADOR GARCIA SALVADOR</td>
						<td>A28</td>
						<td>7:00 - 8:00</td>
						<td> - </td>
						<td>7:00 - 9:00</td>
						<td> - </td>
						<td>7:00 - 9:00</td>
                    </tr>
                    <tr class="info">
						<td>ELECTROMAGNETISMO</td>
						<td>5</td>
						<td>5</td>
						<td>ROSALIA GUTIERREZ URQUIDEZ</td>
						<td>A28</td>
						<td>9:00 - 10:00</td>
						<td> - </td>
						<td>9:00 - 11:00</td>
						<td> - </td>
						<td>9:00 - 11:00</td>
                    </tr>
                    <tr >
						<td>PROBABILIDAD Y ESTADISTICA</td>
						<td>5</td>
						<td>5</td>
						<td>LOPEZ NAVARRO SANTOS</td>
						<td>A28</td>
						<td>10:00 - 11:00</td>
						<td>9:00 - 11:00</td>
						<td> - </td>
						<td>9:00 - 11:00</td>
						<td> - </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br><br>
<p>PAQUETE  Vespertino</p><center><p>Tercer Semestre</p></center>
<div class="table-responsive">
            <table class="table">
                <thead>
                    <tr >
						<th>Materia</th>
						<th>No. Creditos</th>
						<th>Hrs sem</th>
						<th>Maestro</th>
						<th>Aula</th>
						<th>lunes</th>
						<th>Martes</th>
						<th>Miercoles</th>
						<th>Jueves</th>
						<th>Viernes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="info">
						<td>CÁLCULO VECTORIAL</td>
						<td>5</td>
						<td>5</td>
						<td>VEJAR DELGADO GREGORIO ALEJANDRO</td>
						<td>A28</td>
						<td>16:00 - 17:00</td>
						<td> - </td>
						<td>16:00 - 18:00</td>
						<td> - </td>
						<td>16:00 - 18:00</td>
                    </tr>
                    <tr >
						<td>TECNOLOGÍAS DE BASES DE DATOS</td>
						<td>4</td>
						<td>4</td>
						<td>FEDERICO DIAZ GLORIA GUADALUPE</td>
						<td>L52</td>
						<td> - </td>
						<td>18:00  - 20:00</td>
						<td> - </td>
						<td>18:00  - 20:00</td>
						<td> - </td>
                    </tr>
                    <tr class="info">
						<td>BIOQUÍMICA</td>
						<td>6</td>
						<td>6</td>
						<td>ILOKI ASSANGA SIMON BERNARD</td>
						<td>A28</td>
						<td>18:00  - 20:00</td>
						<td> - </td>
						<td>18:00  - 20:00</td>
						<td> - </td>
						<td>18:00  - 20:00</td>
                    </tr>
                    <tr >
						<td>ANATOMÍA Y FISIOLOGÍA I</td>
						<td>5</td>
						<td>5</td>
						<td>*SALVADOR GARCIA SALVADOR</td>
						<td>A28</td>
						<td>17:00 - 18:00</td>
						<td>16:00 - 18:00</td>
						<td> - </td>
						<td>16:00 - 18:00</td>
						<td> - </td>
                    </tr>
                    <tr class="info">
						<td>ELECTROMAGNETISMO</td>
						<td>5</td>
						<td>5</td>
						<td>PEREYDA PIERRE CARLOS ALBERTO</td>
						<td>A28</td>
						<td>15:00 - 16:00</td>
						<td>14:00 - 16:00</td>
						<td> - </td>
						<td>14:00 - 16:00</td>
						<td> - </td>
                    </tr>
                    <tr >
						<td>PROBABILIDAD Y ESTADISTICA</td>
						<td>5</td>
						<td>5</td>
						<td>PABLOS LUGO ARMANDO</td>
						<td>A28</td>
						<td>14:00 - 15:00</td>
						<td> - </td>
						<td>14:00 - 16:00</td>
						<td> - </td>
						<td>14:00 - 16:00</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br><br>
<p>PAQUETE  Matutino</p><center><p>Quinto  Semestre</p></center>
<div class="table-responsive">
            <table class="table">
                <thead>
                    <tr >
						<th>Materia</th>
						<th>No. Creditos</th>
						<th>Hrs sem</th>
						<th>Maestro</th>
						<th>Aula</th>
						<th>lunes</th>
						<th>Martes</th>
						<th>Miercoles</th>
						<th>Jueves</th>
						<th>Viernes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="info">
						<td>DESARROLLO SUSTENTABLE</td>
						<td>5</td>
						<td>5</td>
						<td>DANIEL GARCIA BOJORQUEZ</td>
						<td>A27</td>
						<td>10:00 - 11:00</td>
						<td> - </td>
						<td>11:00 - 13:00</td>
						<td> - </td>
						<td>11:00 - 13:00</td>
                    </tr>
                    <tr >
						<td>ELECTRONICA DIGITAL</td>
						<td>5</td>
						<td>5</td>
						<td>MONROY JIMENEZ CARLOS GILBERTO</td>
						<td>A27</td>
						<td>8:00 - 9:00</td>
						<td>7:00  - 9:00</td>
						<td> - </td>
						<td>7:00  - 9:00</td>
						<td> - </td>
                    </tr>
                    <tr class="info">
						<td>SISTEMAS DE COMPUTO Y REDES</td>
						<td>4</td>
						<td>4</td>
						<td>BARAJAS MARISCAL JESÚS EMILIO</td>
						<td>A27</td>
						<td>  - </td>
						<td>11:00  - 13:00</td>
						<td>  - </td>
						<td>11:00  - 13:00</td>
						<td>  - </td>
                    </tr>
                    <tr >
						<td>FÍSICA MÉDICA</td>
						<td>5</td>
						<td>5</td>
						<td>*MOLINA RAMIREZ TOMAS</td>
						<td>A27</td>
						<td>7:00 - 8:00</td>
						<td> - </td>
						<td>7:00 - 9:00</td>
						<td> - </td>
						<td>7:00 - 9:00</td>
                    </tr>
                    <tr class="info">
						<td>ELECTRÓNICA ANALÓGICA</td>
						<td>5</td>
						<td>5</td>
						<td>SALCEDA BUSTOS HERMINIO</td>
						<td>A27</td>
						<td>9:00 - 10:00</td>
						<td> - </td>
						<td>9:00 - 11:00</td>
						<td> - </td>
						<td>7:00 - 9:00</td>
                    </tr>
                    <tr >
						<td>GESTIÓN DE COSTOS</td>
						<td>4</td>
						<td>4</td>
						<td>SANDRA LUZ PRECIADO IBARRA</td>
						<td>A27</td>
						<td> - </td>
						<td>9:00 - 11:00</td>
						<td> - </td>
						<td>9:00 - 11:00</td>
						<td> - </td>
                    </tr>
                </tbody>
            </table>
        </div>
	</div>
</div>
        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>