<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main" ng-controller="geebController as vm">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

    <section id="content">
        <div class="container">
<center>
		<h1 style="margin-top:0px; padding-top:0px;">Ing. Biomedica</h1>
	</center>
</div>

<div class="row">
	<div class="col-xs-2">
		<center>
			<h4 style="margin-bottom: 20px">Semestres</h4>
			<button style="background-color: #d5e5f1;"i class="zmdi zmdi-collection-item-1 zmdi-hc-2x"</i></button><br><br>
			<button style="background-color: #d5e5f1;"  i class="zmdi zmdi-collection-item-3 zmdi-hc-2x"</i></button><br><br>
			<button style="background-color: #d5e5f1;" i class="zmdi zmdi-collection-item-5 zmdi-hc-2x"</i></button><br><br>
			<button style="background-color: #d5e5f1;" i class="zmdi zmdi-collection-item-7 zmdi-hc-2x"</i></button><br><br>
			<button style="background-color: #d5e5f1;" i class="zmdi zmdi-collection-item-9 zmdi-hc-2x"</i></button><br><br>
		</center>
	</div>
	<div class="col-xs-10">
		<center>
			<h4 style="color: #34495e">Pre-Horarios</h4>
		</center>
<br><br>
<p>PAQUETE  Matutino</p><center><p>Primer Semestre</p></center>
<div class="table-responsive">
            <table class="table">
                <thead>
                    <tr >
						<th>Materia</th>
						<th>No. Creditos</th>
						<th>Hrs sem</th>
						<th>Maestro</th>
						<th>Aula</th>
						<th>lunes</th>
						<th>Martes</th>
						<th>Miercoles</th>
						<th>Jueves</th>
						<th>Viernes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="info">
						<td>Calculo Diferencial</td>
						<td>5</td>
						<td>5</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('MAYBOCA ARAUJO HILARIO')" style="cursor: pointer;">MAYBOCA ARAUJO HILARIO</td>
						<td>B3D</td>
						<td>12:00 - 13:00</td>
						<td>11:00 - 13:00</td>
						<td> - </td>
						<td>11:00 - 13:00</td>
						<td> - </td>
                    </tr>
                    <tr >
						<td>FUNDAMENTOS DE PROGRAMACIÓN</td>
						<td>5</td>
						<td>5</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('TRUJILLO VENEGAS DOMINGO')" style="cursor: pointer;">TRUJILLO VENEGAS DOMINGO</td>
						<td>B21</td>
						<td>10:00 - 11:00</td>
						<td>9:00  - 11:00</td>
						<td> - </td>
						<td>9:00 - 11:00</td>
						<td> - </td>
                    </tr>
                    <tr class="info">
						<td>TALLER DE ÉTICA</td>
						<td>4</td>
						<td>4</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('GUILLERMO ROBLES')" style="cursor: pointer;">GUILLERMO ROBLES</td>
						<td>A81</td>
						<td> - </td>
						<td> - </td>
						<td>9:00 - 11:00</td>
						<td> - </td>
						<td>9:00 - 11:00</td>
                    </tr>
                    <tr >
						<td>INTRODUCCIÓN A LA INGENIERÍA BIOMÉDICA</td>
						<td>4</td>
						<td>4</td>
						<td>SIN MAESTRO</td>
						<td>B3D</td>
						<td> - </td>
						<td> - </td>
						<td>11:00 - 13:00</td>
						<td> - </td>
						<td>11:00 - 13:00</td>
                    </tr>
                    <tr class="info">
						<td>QUÍMICA INORGÁNICA</td>
						<td>5</td>
						<td>5</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('PRECIADO LEON JULIA GRACIELA')" style="cursor: pointer;">PRECIADO LEON JULIA GRACIELA</td>
						<td>B3D</td>
						<td>7:00 - 8:00</td>
						<td> - </td>
						<td>7:00 - 9:00</td>
						<td> - </td>
						<td>7:00 - 9:00</td>
                    </tr>
                    <tr >
						<td>FUNDAMENTOS DE INVESTIGACIÓN</td>
						<td>4</td>
						<td>4</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('MA ELSA JIMENEZ FERNANDEZ')" style="cursor: pointer;">MA ELSA JIMENEZ FERNANDEZ</td>
						<td>B3D</td>
						<td> - </td>
						<td>7:00 - 9:00</td>
						<td> - </td>
						<td>7:00 - 9:00</td>
						<td> - </td>
                    </tr>
                    <tr class="info">
						<td>TUTORIAS I</td>
						<td>1</td>
						<td>2</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('PEREYDA PIERRE CARLOS ALBERTO')" style="cursor: pointer;">PEREYDA PIERRE CARLOS ALBERTO</td>
						<td>B3D</td>
						<td>8:00 - 10:00</td>
						<td> - </td>
						<td> - </td>
						<td> - </td>
						<td> - </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br><br>
<p>PAQUETE  Vespertino</p><center><p>Primer Semestre</p></center>
<div class="table-responsive">
            <table class="table">
                <thead>
                    <tr >
						<th>Materia</th>
						<th>No. Creditos</th>
						<th>Hrs sem</th>
						<th>Maestro</th>
						<th>Aula</th>
						<th>lunes</th>
						<th>Martes</th>
						<th>Miercoles</th>
						<th>Jueves</th>
						<th>Viernes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="info">
						<td>Calculo Diferencial</td>
						<td>5</td>
						<td>5</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('FERRER MORENO LAZARO ALBERTO')" style="cursor: pointer;">FERRER MORENO LAZARO ALBERTO</td>
						<td>B3D</td>
						<td>12:00 - 13:00</td>
						<td>11:00 - 13:00</td>
						<td> - </td>
						<td>11:00 - 13:00</td>
						<td> - </td>
                    </tr>
                    <tr >
						<td>FUNDAMENTOS DE PROGRAMACIÓN</td>
						<td>5</td>
						<td>5</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('LOPEZ CRUZ LUIS CARLOS')" style="cursor: pointer;">LOPEZ CRUZ LUIS CARLOS</td>
						<td>B21</td>
						<td>10:00 - 11:00</td>
						<td>9:00  - 11:00</td>
						<td> - </td>
						<td>9:00 - 11:00</td>
						<td> - </td>
                    </tr>
                    <tr class="info">
						<td>TALLER DE ÉTICA</td>
						<td>4</td>
						<td>4</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('HECTOR CASTILLO')" style="cursor: pointer;">HECTOR CASTILLO</td>
						<td>A81</td>
						<td> - </td>
						<td> - </td>
						<td>9:00 - 11:00</td>
						<td> - </td>
						<td>9:00 - 11:00</td>
                    </tr>
                    <tr >
						<td>INTRODUCCIÓN A LA INGENIERÍA BIOMÉDICA</td>
						<td>4</td>
						<td>4</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('OLIVA JOSE LUIS)" style="cursor: pointer;">OLIVA JOSE LUIS</td>
						<td>B3D</td>
						<td> - </td>
						<td> - </td>
						<td>11:00 - 13:00</td>
						<td> - </td>
						<td>11:00 - 13:00</td>
                    </tr>
                    <tr class="info">
						<td>QUÍMICA INORGÁNICA</td>
						<td>5</td>
						<td>5</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('JALBOUT ABRAHAM')" style="cursor: pointer;">JALBOUT ABRAHAM</td>
						<td>B3D</td>
						<td>7:00 - 8:00</td>
						<td> - </td>
						<td>7:00 - 9:00</td>
						<td> - </td>
						<td>7:00 - 9:00</td>
                    </tr>
                    <tr >
						<td>FUNDAMENTOS DE INVESTIGACIÓN</td>
						<td>4</td>
						<td>4</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('CAROLINA DEL CARMEN PEREZ ABRIL')" style="cursor: pointer;">CAROLINA DEL CARMEN PEREZ ABRIL</td>
						<td>B3D</td>
						<td> - </td>
						<td>7:00 - 9:00</td>
						<td> - </td>
						<td>7:00 - 9:00</td>
						<td> - </td>
                    </tr>
                    <tr class="info">
						<td>TUTORIAS I</td>
						<td>1</td>
						<td>2</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('PRECIADO LEON JULIA GRACIELA')" style="cursor: pointer;">PRECIADO LEON JULIA GRACIELA</td>
						<td>B3D</td>
						<td>8:00 - 10:00</td>
						<td> - </td>
						<td> - </td>
						<td> - </td>
						<td> - </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br><br>
<p>PAQUETE  Matutino</p><center><p>Tercer Semestre</p></center>
<div class="table-responsive">
            <table class="table">
                <thead>
                    <tr >
						<th>Materia</th>
						<th>No. Creditos</th>
						<th>Hrs sem</th>
						<th>Maestro</th>
						<th>Aula</th>
						<th>lunes</th>
						<th>Martes</th>
						<th>Miercoles</th>
						<th>Jueves</th>
						<th>Viernes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="info">
						<td>CÁLCULO VECTORIAL</td>
						<td>5</td>
						<td>5</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('AHUMADA FLORES JOSE CARLOS')" style="cursor: pointer;">AHUMADA FLORES JOSE CARLOS</td>
						<td>A28</td>
						<td>8:00 - 9:00</td>
						<td>7:00 - 9:00</td>
						<td> - </td>
						<td>7:00 - 9:00</td>
						<td> - </td>
                    </tr>
                    <tr >
						<td>TECNOLOGÍAS DE BASES DE DATOS</td>
						<td>4</td>
						<td>4</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('CONTRERAS GIRON RITA')" style="cursor: pointer;">CONTRERAS GIRON RITA</td>
						<td>L52</td>
						<td> - </td>
						<td>11:00  - 13:00</td>
						<td> - </td>
						<td>11:00  - 13:00</td>
						<td> - </td>
                    </tr>
                    <tr class="info">
						<td>BIOQUÍMICA</td>
						<td>6</td>
						<td>6</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('ILOKI ASSANGASIMON BERNARD')" style="cursor: pointer;">*ILOKI ASSANGASIMON BERNARD</td>
						<td>A28</td>
						<td>11:00 - 13:00</td>
						<td> - </td>
						<td>11:00 - 13:00</td>
						<td> - </td>
						<td>11:00 - 13:00</td>
                    </tr>
                    <tr >
						<td>ANATOMÍA Y FISIOLOGÍA I</td>
						<td>5</td>
						<td>5</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('SALVADOR GARCIA SALVADOR')" style="cursor: pointer;">*SALVADOR GARCIA SALVADOR</td>
						<td>A28</td>
						<td>7:00 - 8:00</td>
						<td> - </td>
						<td>7:00 - 9:00</td>
						<td> - </td>
						<td>7:00 - 9:00</td>
                    </tr>
                    <tr class="info">
						<td>ELECTROMAGNETISMO</td>
						<td>5</td>
						<td>5</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('ROSALIA GUTIERREZ URQUIDEZ')" style="cursor: pointer;">ROSALIA GUTIERREZ URQUIDEZ</td>
						<td>A28</td>
						<td>9:00 - 10:00</td>
						<td> - </td>
						<td>9:00 - 11:00</td>
						<td> - </td>
						<td>9:00 - 11:00</td>
                    </tr>
                    <tr >
						<td>PROBABILIDAD Y ESTADISTICA</td>
						<td>5</td>
						<td>5</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('LOPEZ NAVARRO SANTOS')" style="cursor: pointer;">LOPEZ NAVARRO SANTOS</td>
						<td>A28</td>
						<td>10:00 - 11:00</td>
						<td>9:00 - 11:00</td>
						<td> - </td>
						<td>9:00 - 11:00</td>
						<td> - </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br><br>
<p>PAQUETE  Vespertino</p><center><p>Tercer Semestre</p></center>
<div class="table-responsive">
            <table class="table">
                <thead>
                    <tr >
						<th>Materia</th>
						<th>No. Creditos</th>
						<th>Hrs sem</th>
						<th>Maestro</th>
						<th>Aula</th>
						<th>lunes</th>
						<th>Martes</th>
						<th>Miercoles</th>
						<th>Jueves</th>
						<th>Viernes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="info">
						<td>CÁLCULO VECTORIAL</td>
						<td>5</td>
						<td>5</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('VEJAR DELGADO GREGORIO ALEJANDRO')" style="cursor: pointer;">VEJAR DELGADO GREGORIO ALEJANDRO</td>
						<td>A28</td>
						<td>16:00 - 17:00</td>
						<td> - </td>
						<td>16:00 - 18:00</td>
						<td> - </td>
						<td>16:00 - 18:00</td>
                    </tr>
                    <tr >
						<td>TECNOLOGÍAS DE BASES DE DATOS</td>
						<td>4</td>
						<td>4</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('FEDERICO DIAZ GLORIA GUADALUPE')" style="cursor: pointer;">FEDERICO DIAZ GLORIA GUADALUPE</td>
						<td>L52</td>
						<td> - </td>
						<td>18:00  - 20:00</td>
						<td> - </td>
						<td>18:00  - 20:00</td>
						<td> - </td>
                    </tr>
                    <tr class="info">
						<td>BIOQUÍMICA</td>
						<td>6</td>
						<td>6</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('ILOKI ASSANGA SIMON BERNARD')" style="cursor: pointer;">ILOKI ASSANGA SIMON BERNARD</td>
						<td>A28</td>
						<td>18:00  - 20:00</td>
						<td> - </td>
						<td>18:00  - 20:00</td>
						<td> - </td>
						<td>18:00  - 20:00</td>
                    </tr>
                    <tr >
						<td>ANATOMÍA Y FISIOLOGÍA I</td>
						<td>5</td>
						<td>5</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('SALVADOR GARCIA SALVADOR')" style="cursor: pointer;">SALVADOR GARCIA SALVADOR</td>
						<td>A28</td>
						<td>17:00 - 18:00</td>
						<td>16:00 - 18:00</td>
						<td> - </td>
						<td>16:00 - 18:00</td>
						<td> - </td>
                    </tr>
                    <tr class="info">
						<td>ELECTROMAGNETISMO</td>
						<td>5</td>
						<td>5</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('PEREYDA PIERRE CARLOS ALBERTO')" style="cursor: pointer;">PEREYDA PIERRE CARLOS ALBERTO</td>
						<td>A28</td>
						<td>15:00 - 16:00</td>
						<td>14:00 - 16:00</td>
						<td> - </td>
						<td>14:00 - 16:00</td>
						<td> - </td>
                    </tr>
                    <tr >
						<td>PROBABILIDAD Y ESTADISTICA</td>
						<td>5</td>
						<td>5</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('PABLOS LUGO ARMANDO')" style="cursor: pointer;">PABLOS LUGO ARMANDO</td>
						<td>A28</td>
						<td>14:00 - 15:00</td>
						<td> - </td>
						<td>14:00 - 16:00</td>
						<td> - </td>
						<td>14:00 - 16:00</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br><br>
<p>PAQUETE  Matutino</p><center><p>Quinto  Semestre</p></center>
<div class="table-responsive">
            <table class="table">
                <thead>
                    <tr >
						<th>Materia</th>
						<th>No. Creditos</th>
						<th>Hrs sem</th>
						<th>Maestro</th>
						<th>Aula</th>
						<th>lunes</th>
						<th>Martes</th>
						<th>Miercoles</th>
						<th>Jueves</th>
						<th>Viernes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="info">
						<td>DESARROLLO SUSTENTABLE</td>
						<td>5</td>
						<td>5</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('DANIEL GARCIA BOJORQUEZ')" style="cursor: pointer;">DANIEL GARCIA BOJORQUEZ</td>
						<td>A27</td>
						<td>10:00 - 11:00</td>
						<td> - </td>
						<td>11:00 - 13:00</td>
						<td> - </td>
						<td>11:00 - 13:00</td>
                    </tr>
                    <tr >
						<td>ELECTRONICA DIGITAL</td>
						<td>5</td>
						<td>5</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('MONROY JIMENEZ CARLOS GILBERTO')" style="cursor: pointer;">MONROY JIMENEZ CARLOS GILBERTO</td>
						<td>A27</td>
						<td>8:00 - 9:00</td>
						<td>7:00  - 9:00</td>
						<td> - </td>
						<td>7:00  - 9:00</td>
						<td> - </td>
                    </tr>
                    <tr class="info">
						<td>SISTEMAS DE COMPUTO Y REDES</td>
						<td>4</td>
						<td>4</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('BARAJAS MARISCAL JESÚS EMILIO')" style="cursor: pointer;">BARAJAS MARISCAL JESÚS EMILIO</td>
						<td>A27</td>
						<td>  - </td>
						<td>11:00  - 13:00</td>
						<td>  - </td>
						<td>11:00  - 13:00</td>
						<td>  - </td>
                    </tr>
                    <tr >
						<td>FÍSICA MÉDICA</td>
						<td>5</td>
						<td>5</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('MOLINA RAMIREZ TOMAS')" style="cursor: pointer;">MOLINA RAMIREZ TOMAS</td>
						<td>A27</td>
						<td>7:00 - 8:00</td>
						<td> - </td>
						<td>7:00 - 9:00</td>
						<td> - </td>
						<td>7:00 - 9:00</td>
                    </tr>
                    <tr class="info">
						<td>ELECTRÓNICA ANALÓGICA</td>
						<td>5</td>
						<td>5</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('SALCEDA BUSTOS HERMINIO')" style="cursor: pointer;">SALCEDA BUSTOS HERMINIO</td>
						<td>A27</td>
						<td>9:00 - 10:00</td>
						<td> - </td>
						<td>9:00 - 11:00</td>
						<td> - </td>
						<td>7:00 - 9:00</td>
                    </tr>
                    <tr >
						<td>GESTIÓN DE COSTOS</td>
						<td>4</td>
						<td>4</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('SANDRA LUZ PRECIADO IBARRA')" style="cursor: pointer;">SANDRA LUZ PRECIADO IBARRA</td>
						<td>A27</td>
						<td> - </td>
						<td>9:00 - 11:00</td>
						<td> - </td>
						<td>9:00 - 11:00</td>
						<td> - </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br><br>
<p>PAQUETE  Vespertino</p><center><p>Quinto  Semestre</p></center>
<div class="table-responsive">
            <table class="table">
                <thead>
                    <tr >
						<th>Materia</th>
						<th>No. Creditos</th>
						<th>Hrs sem</th>
						<th>Maestro</th>
						<th>Aula</th>
						<th>lunes</th>
						<th>Martes</th>
						<th>Miercoles</th>
						<th>Jueves</th>
						<th>Viernes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="info">
						<td>DESARROLLO SUSTENTABLE</td>
						<td>5</td>
						<td>5</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('DAVID RAMON GUTIERREZ CAMPOS')" style="cursor: pointer;">DAVID RAMON GUTIERREZ CAMPOS</td>
						<td>A27</td>
						<td>16:00 - 17:00</td>
						<td> - </td>
						<td>16:00 - 18:00</td>
						<td> - </td>
						<td>16:00 - 18:00</td>
                    </tr>
                    <tr >
						<td>ELECTRONICA DIGITAL</td>
						<td>5</td>
						<td>5</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('MONROY JIMENEZ CARLOS GILBERTO')" style="cursor: pointer;">MONROY JIMENEZ CARLOS GILBERTO</td>
						<td>A27</td>
						<td>14:00 - 15:00</td>
						<td> - </td>
						<td>14:00 - 16:00</td>
						<td>  - </td>
						<td>14:00 - 16:00</td>
                    </tr>
                    <tr class="info">
						<td>SISTEMAS DE COMPUTO Y REDES</td>
						<td>4</td>
						<td>4</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('ARCE ROMO CARLOS ALFREDO')" style="cursor: pointer;">ARCE ROMO CARLOS ALFREDO</td>
						<td>A27</td>
						<td>  - </td>
						<td>16:00  - 18:00</td>
						<td>  - </td>
						<td>16:00  - 18:00</td>
						<td>  - </td>
                    </tr>
                    <tr >
						<td>FÍSICA MÉDICA</td>
						<td>5</td>
						<td>5</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('OLIVA GIL JOSE LUIS')" style="cursor: pointer;">OLIVA GIL JOSE LUIS</td>
						<td>A27</td>
						<td>17:00 - 18:00</td>
						<td>18:00 - 20:00</td>
						<td> - </td>
						<td>18:00 - 20:00</td>
						<td> - </td>
                    </tr>
                    <tr class="info">
						<td>ELECTRÓNICA ANALÓGICA</td>
						<td>5</td>
						<td>5</td>
						<td>SIN MAESTRO<td>
						<td>A27</td>
						<td>15:00 - 16:00</td>
						<td>14:00 - 16:00</td>
						<td> - </td>
						<td>14:00 - 16:00</td>
						<td> - </td>
                    </tr>
                    <tr >
						<td>GESTIÓN DE COSTOS</td>
						<td>4</td>
						<td>4</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('SANDRA LUZ PRECIADO IBARRA')" style="cursor: pointer;">SANDRA LUZ PRECIADO IBARRA</td>
						<td>A27</td>
						<td> - </td>
						<td> - </td>
						<td>18:00 - 20:00</td>
						<td> - </td>
						<td>18:00 - 20:00</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br><br>
<p>PAQUETE  Matutino</p><center><p>Septimo Semestre</p></center>
<div class="table-responsive">
            <table class="table">
                <thead>
                    <tr >
						<th>Materia</th>
						<th>No. Creditos</th>
						<th>Hrs sem</th>
						<th>Maestro</th>
						<th>Aula</th>
						<th>lunes</th>
						<th>Martes</th>
						<th>Miercoles</th>
						<th>Jueves</th>
						<th>Viernes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="info">
						<td>TALLER DE INVESTIGACIÓN I</td>
						<td>4</td>
						<td>4</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('GIL ARTURO QUIJANO')" style="cursor: pointer;">GIL ARTURO QUIJANO</td>
						<td>L6G</td>
						<td> - </td>
						<td> - </td>
						<td>11:00 - 13:00</td>
						<td> - </td>
						<td>11:00 - 13:00</td>
                    </tr>
                    <tr >
						<td>BIOMATERIALES</td>
						<td>4</td>
						<td>4</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('GARCIA CASTRO SUSANA ELIZABETH')" style="cursor: pointer;">GARCIA CASTRO SUSANA ELIZABETH</td>
						<td>L6G</td>
						<td> - </td>
						<td>11:00 - 13:00</td>
						<td> - </td>
						<td>11:00 - 13:00</td>
						<td> - </td>
                    </tr>
                    <tr class="info">
						<td>INSTRUMENTACIÓN BIOMÉDICA</td>
						<td>5</td>
						<td>5</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('VERNET SAAVEDRA ELLIOT')" style="cursor: pointer;">VERNET SAAVEDRA ELLIOT</td>
						<td>L6G</td>
						<td>9:00  - 10:00</td>
						<td> - </td>
						<td>9:00  - 11:00</td>
						<td> - </td>
						<td>9:00  - 11:00</td>
                    </tr>
                    <tr >
						<td>SEGURIDAD E HIGIENE EN EL SECTOR SALUD</td>
						<td>4</td>
						<td>4</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('ATANACIO PEREZ OSCAR DANIEL')" style="cursor: pointer;">ATANACIO PEREZ OSCAR DANIEL</td>
						<td>L6G</td>
						<td> - </td>
						<td>7:00 - 9:00</td>
						<td> - </td>
						<td>7:00 - 9:00</td>
						<td> - </td>
                    </tr>
                    <tr class="info">
						<td>PROCESAMIENTO DÍGITAL DE SEÑALES</td>
						<td>5</td>
						<td>5</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('ROSALIA GUTIERREZ URQUIDEZ')" style="cursor: pointer;">ROSALIA GUTIERREZ URQUIDEZ<td>
						<td>L6G</td>
						<td>10:00 - 11:00</td>
						<td>9:00 - 11:00</td>
						<td> - </td>
						<td>9:00 - 11:00</td>
						<td> - </td>
                    </tr>
                    <tr >
						<td>MODELADO DE SISTEMAS FISIOLÓGICOS</td>
						<td>5</td>
						<td>5</td>
						<td>SIN MAESTRO</td>
						<td>L6G</td>
						<td>8:00 - 9:00</td>
						<td> - </td>
						<td>7:00 - 9:00</td>
						<td> - </td>
						<td>7:00 - 9:00</td>
                    </tr>
                </tbody>
            </table>
        </div>
	</div>
</div>
        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>