<div class="row">
	<center>
		<h1 style="margin-top:0px; padding-top:0px;">Ing. Electronica</h1>
	</center>
</div>

<div class="row">
	<div class="col-xs-2">
		<center>
			<h4 style="margin-bottom: 20px">Semestres</h4>
			<button class="btn btn-primary btn-semestres">1</button>
			<button class="btn btn-primary btn-semestres">2</button>
			<button class="btn btn-primary btn-semestres">3</button>
			<button class="btn btn-primary btn-semestres">4</button>
			<button class="btn btn-primary btn-semestres">5</button>	
		</center>
	</div>
	<div class="col-xs-10">
		<center>
			<h4 style="color: #34495e">Pre-Horarios</h4>
		</center>

<table class="container">
	<thead>
		<tr>
			<th><h1>Materia</h1></th>
			<th><h1>Maestro</h1></th>
			<th><h1>lunes</h1></th>
			<th><h1>Martes</h1></th>
			<th><h1>Miercoles</h1></th>
			<th><h1>Jueves</h1></th>
			<th><h1>Viernes</h1></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Calculo Diferencial</td>
			<td>Panduro</td>
			<td>7:00 - 9:00</td>
			<td>7:00 - 9:00</td>
			<td>7:00 - 9:00</td>
			<td>7:00 - 9:00</td>
			<td>7:00 - 9:00</td>
		</tr>
		<tr>
			<td>Quimica</td>
			<td>Sin Asignar</td>
			<td>7:00 - 9:00</td>
			<td>7:00 - 9:00</td>
			<td>7:00 - 9:00</td>
			<td>7:00 - 9:00</td>
			<td>7:00 - 9:00</td>
			
		</tr>
		<tr>
			<td>Fund. De Telecom</td>
			<td>Elmer Galarga </td>
			<td>7:00 - 9:00</td>
			<td>7:00 - 9:00</td>
			<td>7:00 - 9:00</td>
			<td>7:00 - 9:00</td>
			<td>7:00 - 9:00</td>
			
		</tr>
    <tr>
			<td></td>
			<td></td>
			<td>7:00 - 9:00</td>
			<td>7:00 - 9:00</td>
			<td>7:00 - 9:00</td>
			<td>7:00 - 9:00</td>
			<td>7:00 - 9:00</td>
			
		</tr>
    <tr>
			<td></td>
			<td></td>
			<td>7:00 - 9:00</td>
			<td>7:00 - 9:00</td>
			<td>7:00 - 9:00</td>
			<td>7:00 - 9:00</td>
			<td>7:00 - 9:00</td>
		</tr>
    <tr>
			<td></td>
			<td></td>
			<td>7:00 - 9:00</td>
			<td>7:00 - 9:00</td>
			<td>7:00 - 9:00</td>
			<td>7:00 - 9:00</td>
			<td>7:00 - 9:00</td>
			
		</tr>
	</tbody>
</table>
	</div>
</div>