<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

    <section id="content">
        <div class="container">
	<center>
		<h1 style="margin-top:0px; padding-top:0px;">Ing. Electrica</h1>
	</center>
</div>

<div class="row">
	<div class="col-xs-2">
		<center>
			<h4 style="margin-bottom: 20px">Semestres</h4>
			<button style="background-color: #d5e5f1;"i class="zmdi zmdi-collection-item-1 zmdi-hc-2x"</i></button><br><br>
			<button style="background-color: #d5e5f1;"  i class="zmdi zmdi-collection-item-3 zmdi-hc-2x"</i></button><br><br>
			<button style="background-color: #d5e5f1;" i class="zmdi zmdi-collection-item-5 zmdi-hc-2x"</i></button><br><br>
			<button style="background-color: #d5e5f1;" i class="zmdi zmdi-collection-item-7 zmdi-hc-2x"</i></button><br><br>
			<button style="background-color: #d5e5f1;" i class="zmdi zmdi-collection-item-9 zmdi-hc-2x"</i></button><br><br>
		</center>
	</div>
	<div class="col-xs-10">
		<center>
			<h4 style="color: #34495e">Pre-Horarios</h4>
		</center>
        <p><center><h4 style="color:red">ESTUDIANTES DE NUEVO INGRESO: NO OLVIDEN INSCRIBIRSE EN EXTRAESCOLARES E INGLES. <br>
        ES OBLIGACION CURSARLAS EN SU PRIMER SEMESTRE</h4></center></p>
        <br><br>
<p>PAQUETE 1/3</p><center><p>Primer Semestre</p></center>
<div class="table-responsive">
            <table class="table">
                <thead>
                    <tr >
						<th>Materia</th>
						<th>Gpo</th>
						<th>Excl / Car</th>
						<th>Ins</th>
						<th>Cap</th>
						<th>Docente</th>
						<th>lunes</th>
						<th>Martes</th>
						<th>Miercoles</th>
						<th>Jueves</th>
						<th>Viernes</th>
						<th>OBSERVACIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="info">
						<td>TALLER DE ETICA</td>
						<td>L1A</td>
						<td>SI</td>
						<td>38</td>
						<td>1</td>
						<td>VALDEZ BALDERAS MIRAIAM LILIAN</td>
						<td> </td>
						<td> </td>
						<td>11:00 - 13:00 B25</td>
						<td> - </td>
						<td>11:00 - 13:00 B25</td>
						<td> </td>
                    </tr>                    
                    <tr>
						<td>FUND. DE INV.</td>
						<td>L1A</td>
						<td>SI</td>
						<td>38</td>
						<td>1</td>
						<td>LAGARDA ANTELO PRUDENCIO</td>
						<td>08:00 - 10:00 B25</td>
						<td> </td>
						<td>09:00 - 11:00 B25</td>
						<td> </td>
						<td> </td>
						<td> </td>
                    </tr>
                    <tr class="info">
						<td>CAL. DIFERENCIAL</td>
						<td>L1A</td>
						<td>SI</td>
						<td>38</td>
						<td>1</td>
						<td>CORRAL SANDOVAL TRINIDAD</td>
						<td>07:00 - 08:00 B25</td>
						<td> </td>
						<td>07:00 - 09:00 B25</td>
						<td> - </td>
						<td>07:00 - 09:00 B25</td>
						<td> </td>
                    </tr>
                    <tr>
						<td>PROB. Y ESTAD.</td>
						<td>L1A</td>
						<td>SI</td>
						<td>38</td>
						<td>1</td>
						<td>ALCANTAR MONROY GILBERTO</td>
						<td> </td>
						<td>11:00 - 13:00 B25</td>
						<td> </td>
						<td>11:00 - 13:00 B25</td>
						<td> </td>
						<td> </td>
                    </tr>
                    <tr class="info">
						<td>EXTRAESCOLARES 1</td>
						<td>L1A</td>
						<td>SI</td>
						<td>38</td>
						<td>1</td>
						<td> </td>
						<td> </td>
						<td> </td>
						<td> </td>
						<td> </td>
						<td> </td>
						<td> </td>
                    </tr>
                    <tr>
						<td>COMUNICACION HUMANA</td>
						<td>L1A</td>
						<td>SI</td>
						<td>38</td>
						<td>1</td>
						<td>CRUZ LARIOS JAIME</td>
						<td>10:00 - 12:00 B25</td>
						<td>13:00 - 14:00 B25</td>
						<td> </td>
						<td> </td>
						<td> </td>
						<td> </td>
                    </tr>
                    <tr class="info">
						<td>DES. HUM. INT</td>
						<td>L1A</td>
						<td>SI</td>
						<td>38</td>
						<td>1</td>
						<td>CASTILLO OSUNA HECTOR FRANCISCO</td>
						<td></td>
						<td>09:00 - 11:00 B25</td>
						<td> </td>
						<td>09:00 - 11:00 B25</td>
						<td> </td>
						<td> </td>
                    </tr>
                    <tr>
						<td>TUTORIAS 1</td>
						<td>L1A</td>
						<td>SI</td>
						<td>38</td>
						<td>1</td>
						<td>MEDELLIN VALDEZ FRANCISCO</td>
						<td> </td>
						<td> </td>
						<td> </td>
						<td> </td>
						<td>09:00 - 11:00 B25</td>
						<td> </td>
                    </tr>
                </tbody>
            </table>
        </div>        
        <br><br>
<p>PAQUETE 2/3</p><center><p>Primer Semestre</p></center>
<div class="table-responsive">
            <table class="table">
                <thead>
                    <tr >
						<th>Materia</th>
						<th>Gpo</th>
						<th>Excl / Car</th>
						<th>Ins</th>
						<th>Cap</th>
						<th>Docente</th>
						<th>lunes</th>
						<th>Martes</th>
						<th>Miercoles</th>
						<th>Jueves</th>
						<th>Viernes</th>
						<th>OBSERVACIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="info">
						<td>TALLER DE ETICA</td>
						<td>L1B</td>
						<td>SI</td>
						<td>38</td>
						<td>1</td>
						<td>ROBLES ARANA GUILLERMO</td>
						<td> </td>
						<td> </td>
						<td>07:00 - 09:00 B26</td>
						<td> </td>
						<td>07:00 - 09:00 B26</td>
						<td> </td>
                    </tr>                    
                    <tr>
						<td>FUND. DE INV.</td>
						<td>L1B</td>
						<td>SI</td>
						<td>38</td>
						<td>1</td>
						<td>LAGARDA ANTELO PRUDENCIO</td>
						<td></td>
						<td>09:00 - 11:00 B26</td>
						<td> </td>
						<td>09:00 - 11:00 B26</td>
						<td> </td>
						<td> </td>
                    </tr>
                    <tr class="info">
						<td>CAL. DIFERENCIAL</td>
						<td>L1B</td>
						<td>SI</td>
						<td>38</td>
						<td>1</td>
						<td> </td>
						<td>08:00 - 09:00 B26</td>
						<td>07:00 - 09:00 B26</td>
						<td> </td>
						<td>07:00 - 09:00 B26</td>
						<td> </td>
						<td> </td>
                    </tr>
                    <tr>
						<td>PROB. Y ESTAD.</td>
						<td>L1B</td>
						<td>SI</td>
						<td>38</td>
						<td>1</td>
						<td>ALCANTAR MONROY GILBERTO</td>
						<td> </td>
						<td></td>
						<td>11:00 - 13:00 B25</td>
						<td></td>
						<td>11:00 - 13:00 B25</td>
						<td> </td>
                    </tr>
                    <tr class="info">
						<td>EXTRAESCOLARES 1</td>
						<td>L1B</td>
						<td>SI</td>
						<td>38</td>
						<td>1</td>
						<td> </td>
						<td> </td>
						<td> </td>
						<td> </td>
						<td> </td>
						<td> </td>
						<td> </td>
                    </tr>
                    <tr>
						<td>COMUNICACION HUMANA</td>
						<td>L1B</td>
						<td>SI</td>
						<td>38</td>
						<td>1</td>
						<td>CRUZ LARIOS JAIME</td>
						<td> </td>
						<td>11:00 - 12:00 B26</td>
						<td> </td>
						<td>11:00 - 13:00 B26</td>
						<td> </td>
						<td> </td>
                    </tr>
                    <tr class="info">
						<td>DES. HUM. INT</td>
						<td>L1B</td>
						<td>SI</td>
						<td>38</td>
						<td>1</td>
						<td>CASTILLO OSUNA HECTOR FRANCISCO</td>
						<td>09:00 - 10:00 B26</td>
						<td></td>
						<td>09:00 - 10:00 B26</td>
						<td> </td>
						<td> </td>
						<td> </td>
                    </tr>
                    <tr>
						<td>TUTORIAS 1</td>
						<td>L1B</td>
						<td>SI</td>
						<td>38</td>
						<td>1</td>
						<td>SALCEDA BUSTOS HERMINIO</td>
						<td>10:00 - 12:00 B26</td>
						<td> </td>
						<td> </td>
						<td> </td>
						<td> </td>
						<td> </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <BR><BR>
<p>PAQUETE 3/3</p><center><p>Primer Semestre</p></center>
<div class="table-responsive">
            <table class="table">
                <thead>
                    <tr >
						<th>Materia</th>
						<th>Gpo</th>
						<th>Excl / Car</th>
						<th>Ins</th>
						<th>Cap</th>
						<th>Docente</th>
						<th>lunes</th>
						<th>Martes</th>
						<th>Miercoles</th>
						<th>Jueves</th>
						<th>Viernes</th>
						<th>OBSERVACIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="info">
						<td>TALLER DE ETICA</td>
						<td>L1C</td>
						<td>SI</td>
						<td>38</td>
						<td>1</td>
						<td>ISLAS CARBAJAL ENRIQUE EDMUNDO</td>
						<td>17:00 - 19:00 B26 </td>
						<td> </td>
						<td> </td>
						<td> </td>
						<td>14:00 - 16:00 B26 </td>
						<td> </td>
                    </tr>                    
                    <tr>
						<td>FUND. DE INV.</td>
						<td>L1C</td>
						<td>SI</td>
						<td>38</td>
						<td>1</td>
						<td>DUARTE TAUTIMES JAVIER FRANCISCO</td>
						<td></td>
						<td>16:00 - 18:00 B26 </td>
						<td> </td>
						<td>16:00 - 18:00 B26 </td>
						<td> </td>
						<td> </td>
                    </tr>
                    <tr class="info">
						<td>CAL. DIFERENCIAL</td>
						<td>L1C</td>
						<td>SI</td>
						<td>38</td>
						<td>1</td>
						<td>TOLEDO GUILLEN CARLOS ARTURO</td>
						<td>16:00 - 17:00 B26 </td>
						<td> </td>
						<td>16:00 - 18:00 B26 </td>
						<td> - </td>
						<td>16:00 - 18:00 B26 </td>
						<td> </td>
                    </tr>
                    <tr>
						<td>PROB. Y ESTAD.</td>
						<td>L1C</td>
						<td>SI</td>
						<td>38</td>
						<td>1</td>
						<td></td>
						<td> </td>
						<td>18:00 - 20:00 B26</td>
						<td> </td>
						<td>18:00 - 20:00 B26 </td>
						<td> </td>
						<td> </td>
                    </tr>
                    <tr class="info">
						<td>EXTRAESCOLARES 1</td>
						<td>L1C</td>
						<td>SI</td>
						<td>38</td>
						<td>1</td>
						<td> </td>
						<td> </td>
						<td> </td>
						<td> </td>
						<td> </td>
						<td> </td>
						<td> </td>
                    </tr>
                    <tr>
						<td>COMUNICACION HUMANA</td>
						<td>L1C</td>
						<td>SI</td>
						<td>38</td>
						<td>1</td>
						<td>MUÑIZ RAZO RAFAEL</td>
						<td> </td>
						<td> </td>
						<td>18:00 - 20:00 B26 </td>
						<td> </td>
						<td>18:00 - 19:00 B26 </td>
						<td> </td>
                    </tr>
                    <tr class="info">
						<td>DES. HUM. INT</td>
						<td>L1C</td>
						<td>SI</td>
						<td>38</td>
						<td>1</td>
						<td>CASTILLO OSUNA HECTOR FRANCISCO</td>
						<td> </td>
						<td>14:00 - 16:00 B26</td>
						<td> </td>
						<td>15:00 - 16:00 B26 </td>
						<td> </td>
						<td> </td>
                    </tr>
                    <tr>
						<td>TUTORIAS 1</td>
						<td>L1C</td>
						<td>SI</td>
						<td>38</td>
						<td>1</td>
						<td>MORENO RUIZ ELMER</td>
						<td> </td>
						<td></td>
						<td>14:00 - 16:00 B26 </td>
						<td> </td>
						<td> </td>
						<td> </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <br><br>
        <p>PAQUETE 1/3</p><center><p>Tercer Semestre</p></center>
<div class="table-responsive">
            <table class="table">
                <thead>
                    <tr >
						<th>Materia</th>
						<th>Gpo</th>
						<th>Excl / Car</th>
						<th>Ins</th>
						<th>Cap</th>
						<th>Docente</th>
						<th>lunes</th>
						<th>Martes</th>
						<th>Miercoles</th>
						<th>Jueves</th>
						<th>Viernes</th>
						<th>OBSERVACIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="info">
						<td>DES. SUSTENTABLE</td>
						<td>L3A</td>
						<td>SI</td>
						<td>0</td>
						<td>40</td>
						<td>MANCINAS GONZALEZ ABELARDO</td>
						<td>08:00 - 09:00 A51 </td>
						<td>07:00 - 09:00 A51 </td>
						<td> </td>
						<td>07:00 - 09:00 A51 </td>
						<td> </td>
						<td> </td>
                    </tr>                    
                    <tr>
						<td>ALGEBRA LINEAL</td>
						<td>L3A</td>
						<td>SI</td>
						<td>0</td>
						<td>40</td>
						<td>AHUMADA FLORES JOSE CARLOS</td>
						<td>07:00 - 08:00 A51 </td>
						<td> </td>
						<td>07:00 - 09:00 A51 </td>
						<td> </td>
						<td>07:00 - 09:00 A51 </td>
						<td> </td>
                    </tr>
                    <tr class="info">
						<td>CALCULO VECTORIAL</td>
						<td>L3A</td>
						<td>SI</td>
						<td>0</td>
						<td>40</td>
						<td>RIVERA FLORES MARIA DE JESUS</td>
						<td>09:00 - 10:00 A51 </td>
						<td> </td>
						<td>09:00 - 11:00 A51 </td>
						<td> </td>
						<td>09:00 - 11:00 A51 </td>
						<td> </td>
                    </tr>
                    <tr>
						<td>ELECTROMAGNETISMO</td>
						<td>L3A</td>
						<td>SI</td>
						<td>0</td>
						<td>40</td>
						<td>GARCIA CANTON JUAN PABLO</td>
						<td>11:00 - 12:00 A51 </td>
						<td> </td>
						<td>11:00 - 13:00 A51 </td>
						<td> </td>
						<td>11:00 - 13:00 L2A </td>
						<td> </td>
                    </tr>
                    <tr class="info">
						<td></td>
						<td>L3A</td>
						<td>SI</td>
						<td>0</td>
						<td>40</td>
						<td>SOLIS SANTOSCOY JESUS MANUEL</td>
						<td>12:00 - 13:00 A51 </td>
						<td>11:00 - 13:00 A51 </td>
						<td> </td>
						<td>11:00 - 13:00 L32 </td>
						<td> </td>
						<td> </td>
                    </tr>
                    <tr>
						<td>MEC. FLUIDOS Y TERM.</td>
						<td>L3A</td>
						<td>SI</td>
						<td>0</td>
						<td>40</td>
						<td>GARCIA CASTRO SUSANA ELIZABETH</td>
						<td>10:00 - 11:00 A51 </td>
						<td>09:00 - 11:00 A51 </td>
						<td> </td>
						<td>09:00 - 11:00 A51 </td>
						<td> </td>
						<td> </td>
                    </tr>
                    <tr class="info">
						<td>ACTIVIDA COMPLEMENTARIA 4</td>
						<td>L3C</td>
						<td>SI</td>
						<td>0</td>
						<td>99</td>
						<td></td>
						<td> </td>
						<td> </td>
						<td> </td>
						<td> </td>
						<td> </td>
						<td> </td>
                    </tr>
                </tbody>
            </table>
        </div>               
        <br><br>

<p>PAQUETE 2/3</p><center><p>Tercer Semestre</p></center>
<div class="table-responsive">
            <table class="table">
                <thead>
                    <tr >
						<th>Materia</th>
						<th>Gpo</th>
						<th>Excl / Car</th>
						<th>Ins</th>
						<th>Cap</th>
						<th>Docente</th>
						<th>lunes</th>
						<th>Martes</th>
						<th>Miercoles</th>
						<th>Jueves</th>
						<th>Viernes</th>
						<th>OBSERVACIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="info">
						<td>CALCULO VECTORIAL</td>
						<td>L3B</td>
						<td>SI</td>
						<td>0</td>
						<td>40</td>
						<td> </td>
						<td>07:00 - 09:00 A52 </td>
						<td> </td>
						<td>07:00 - 09:00 A52 </td>
						<td> </td>
						<td>07:00 - 09:00 A52 </td>
						<td> </td>
                    </tr>                    
                    <tr>
						<td>ALGEBRA LINEAL</td>
						<td>L3B</td>
						<td>SI</td>
						<td>0</td>
						<td>40</td>
						<td> </td>
						<td>08:00 - 09:00 A52 </td>
						<td>07:00 - 09:00 A52 </td>
						<td> </td>
						<td>07:00 - 09:00 A52 </td>
						<td> </td>
						<td> </td>
                    </tr>
                    <tr class="info">
						<td>DES. SUSTENTABLE</td>
						<td>L3B</td>
						<td>SI</td>
						<td>0</td>
						<td>40</td>
						<td>GARCIA BOJORQUEZ VICTOR DANIEL</td>
						<td>11:00 - 12:00 A52 </td>
						<td>09:00 - 11:00 A52 </td>
						<td> </td>
						<td>09:00 - 11:00 A52 </td>
						<td> </td>
						<td> </td>
                    </tr>
                    <tr>
						<td>ELECTROMAGNETISMO</td>
						<td>L3B</td>
						<td>SI</td>
						<td>0</td>
						<td>40</td>
						<td>GALAZ PALMA RENE RUBEN</td>
						<td>12:00 - 14:00 L2A </td>
						<td> </td>
						<td>11:00 - 13:00 A52 </td>
						<td> </td>
						<td>11:00 - 12:00 A52 </td>
						<td> </td>
                    </tr>
                    <tr class="info">
						<td>MED. ELECTRICAS</td>
						<td>L3B</td>
						<td>SI</td>
						<td>0</td>
						<td>40</td>
						<td>GARCIA CANTON JUAN PABLO</td>
						<td>10:00 - 11:00 A52 </td>
						<td>11:00 - 13:00 A52 </td>
						<td> </td>
						<td>11:00 - 13:00 A52 </td>
						<td> </td>
						<td> </td>
                    </tr>
                    <tr>
						<td>MEC. FLUIDOS Y TERM.</td>
						<td>L3B</td>
						<td>SI</td>
						<td>0</td>
						<td>40</td>
						<td>GARCIA CASTRO SUSANA ELIZABETH</td>
						<td>09:00 - 10:00 A52 </td>
						<td> </td>
						<td>09:00 - 11:00 A52 </td>
						<td> </td>
						<td>09:00 - 10:00 A52 </td>
						<td> </td>
                    </tr>
                    <tr class="info">
						<td>ACTIVIDA COMPLEMENTARIA 4</td>
						<td>L3C</td>
						<td>SI</td>
						<td>0</td>
						<td>99</td>
						<td></td>
						<td> </td>
						<td> </td>
						<td> </td>
						<td> </td>
						<td> </td>
						<td> </td>
                    </tr>
                    <tr>
						<td>PROB. Y ESTAD.</td>
						<td>L3B</td>
						<td>SI</td>
						<td>0</td>
						<td>40</td>
						<td>LOPEZ NAVARRO SANTOS</td>
						<td> </td>
						<td>13:00 - 14:00 A51 </td>
						<td>13:00 - 14:00 A51 </td>
						<td>13:00 - 14:00 A51 </td>
						<td>13:00 - 14:00 A51 </td>
						<td> </td>
                    </tr>
                </tbody>
            </table>
        </div>               
        <br><br>
<p>PAQUETE 3/3</p><center><p>Tercer Semestre</p></center>
<div class="table-responsive">
            <table class="table">
                <thead>
                    <tr >
						<th>Materia</th>
						<th>Gpo</th>
						<th>Excl / Car</th>
						<th>Ins</th>
						<th>Cap</th>
						<th>Docente</th>
						<th>lunes</th>
						<th>Martes</th>
						<th>Miercoles</th>
						<th>Jueves</th>
						<th>Viernes</th>
						<th>OBSERVACIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="info">
						<td>CALCULO INTEGRAL</td>
						<td>L3C</td>
						<td>SI</td>
						<td>0</td>
						<td>40</td>
						<td>FERRER MORENO ALBERTO </td>
						<td>15:00 - 16:00 B25 </td>
						<td> </td>
						<td>14:00 - 16:00 B25 </td>
						<td> </td>
						<td>14:00 - 16:00 B25 </td>
						<td> </td>
                    </tr>                    
                    <tr>
						<td>QUIMICA</td>
						<td>L3C</td>
						<td>SI</td>
						<td>0</td>
						<td>40</td>
						<td>GUTIERREZ CAMPOS DAVID RAMON </td>
						<td>18:00 - 19:00 B25 </td>
						<td>18:00 - 20:00 B25 </td>
						<td> </td>
						<td>18:00 - 20:00 B25 </td>
						<td> </td>
						<td> </td>
                    </tr>
                    <tr class="info">
						<td>DES. SUSTENTABLE</td>
						<td>L3C</td>
						<td>SI</td>
						<td>0</td>
						<td>40</td>
						<td>GUTIERREZ CAMPOS DAVID RAMON</td>
						<td>18:00 - 19:00 B25 </td>
						<td>18:00 - 20:00 B25 </td>
						<td> </td>
						<td>18:00 - 20:00 B25 </td>
						<td> </td>
						<td> </td>
                    </tr>
                    <tr>
						<td>ELECTROMAGNETISMO</td>
						<td>L3C</td>
						<td>SI</td>
						<td>0</td>
						<td>40</td>
						<td>RODRIGUEZ CORDOVA JOSE</td>
						<td> </td>
						<td>16:00 - 18:00 B25 </td>
						<td> </td>
						<td>16:00 - 18:00 L2A </td>
						<td>17:00 - 18:00 B25 </td>
						<td> </td>
                    </tr>
                    <tr class="info">
						<td>MED. ELECTRICAS</td>
						<td>L3C</td>
						<td>SI</td>
						<td>0</td>
						<td>40</td>
						<td>LORTA VALDEZ SERGIO HUMBERTO</td>
						<td>16:00 - 18:00 L2A </td>
						<td> </td>
						<td>16:00 - 18:00 B25 </td>
						<td> </td>
						<td>16:00 - 18:00 B25 </td>
						<td> </td>
                    </tr>
                    <tr>
						<td>MEC. FLUIDOS Y TERM.</td>
						<td>L3C</td>
						<td>SI</td>
						<td>0</td>
						<td>40</td>
						<td>NAVARRO URIBE JOSE MARIO ARNOLDO</td>
						<td>14:00 - 15:00 B25 </td>
						<td>14:00 - 16:00 B25 </td>
						<td> </td>
						<td>14:00 - 16:00 B25</td>
						<td> </td>
						<td> </td>
                    </tr>
                    <tr class="info">
						<td>ACTIVIDA COMPLEMENTARIA 4</td>
						<td>L3C</td>
						<td>SI</td>
						<td>0</td>
						<td>99</td>
						<td></td>
						<td> </td>
						<td> </td>
						<td> </td>
						<td> </td>
						<td> </td>
						<td> </td>
                    </tr>                    
                </tbody>
            </table>
        </div>               

        <br><br>
        <p>PAQUETE 1/3</p><center><p>Quinto Semestre</p></center>
<div class="table-responsive">
            <table class="table">
                <thead>
                    <tr >
						<th>Materia</th>
						<th>Gpo</th>
						<th>Excl / Car</th>
						<th>Ins</th>
						<th>Cap</th>
						<th>Docente</th>
						<th>lunes</th>
						<th>Martes</th>
						<th>Miercoles</th>
						<th>Jueves</th>
						<th>Viernes</th>
						<th>OBSERVACIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="info">
						<td>TALLER DE INVESTIGACION II</td>
						<td>L5A</td>
						<td>SI</td>
						<td>0</td>
						<td>40</td>
						<td>MORENO RUIZ ELMER</td>
						<td> </td>
						<td>07:00 - 09:00 B25 </td>
						<td> </td>
						<td>07:00 - 09:00 B25 </td>
						<td> </td>
						<td> </td>
                    </tr>                    
                    <tr>
						<td>CONTROL I</td>
						<td>L5A</td>
						<td>SI</td>
						<td>0</td>
						<td>40</td>
						<td>SOLIS SANTOSCOY JESUS MANUEL</td>
						<td>09:00 - 11:00 A53 </td>
						<td> </td>
						<td>08:00 - 10:00 A53 </td>
						<td> </td>
						<td>09:00 - 10:00 A53 </td>
						<td> </td>
                    </tr>
                    <tr class="info">
						<td>ELECTRONICA ANALOGICA</td>
						<td>L5A</td>
						<td>SI</td>
						<td>0</td>
						<td>40</td>
						<td>SALCEDA BUSTOS HERMINIO</td>
						<td> </td>
						<td>09:00 - 11:00 L32 </td>
						<td> </td>
						<td>09:00 - 11:00 A53 </td>
						<td>12:00 - 13:00 A53 </td>
						<td> </td>
                    </tr>
                    <tr>
						<td>INST. ELECTRICAS</td>
						<td>L5A</td>
						<td>SI</td>
						<td>0</td>
						<td>40</td>
						<td>VALVERDE GUZMAN FLORENTINO</td>
						<td>13:00 - 14:00 A53 </td>
						<td>13:00 - 14:00 A53 </td>
						<td>12:00 - 14:00 L2A </td>
						<td> </td>
						<td> </td>
						<td> </td>
                    </tr>
                    <tr class="info">
						<td>EQUIPOS MECANICOS</td>
						<td>L5A</td>
						<td>SI</td>
						<td>0</td>
						<td>40</td>
						<td>ARGUELLO CARRILLO ANTONIO</td>
						<td> </td>
						<td>11:00 - 13:00 A53 </td>
						<td> </td>
						<td>11:00 - 13:00 A53 </td>
						<td> </td>
						<td> </td>
                    </tr>
                    <tr>
						<td>CIRC.ELECT. II</td>
						<td>L5A</td>
						<td>SI</td>
						<td>0</td>
						<td>40</td>
						<td>VALENCIA BARRAGAN JOSE DE JESUS</td>
						<td>11:00 - 13:00 A53 </td>
						<td> </td>
						<td>10:00 - 12:00 L2A </td>
						<td> </td>
						<td>10:00 - 12:00 A53 </td>
						<td> </td>
                    </tr>
                    <tr class="info">
						<td>LEG. EN MAT. ELECTRICA</td>
						<td>L5A</td>
						<td>SI</td>
						<td>0</td>
						<td>99</td>
						<td>DENNEY NORIS JORGE HUGO</td>
						<td> </td>
						<td> </td>
						<td>07:00 - 08:00 A53 </td>
						<td> </td>
						<td>07:00 - 09:00 A53 </td>
						<td> </td>
                    </tr>
                    <tr>
						<td>ACTIVIDAD COMPLEMENTARIA 5</td>
						<td>L5C</td>
						<td>SI</td>
						<td>0</td>
						<td>99</td>
						<td> </td>
						<td> </td>
						<td> </td>
						<td> </td>
						<td> </td>
						<td> </td>
						<td> </td>
                    </tr>
                </tbody>
            </table>
        </div>               
        <br><br>

<p>PAQUETE 2/3</p><center><p>Quinto Semestre</p></center>
<div class="table-responsive">
            <table class="table">
                <thead>
                    <tr >
						<th>Materia</th>
						<th>Gpo</th>
						<th>Excl / Car</th>
						<th>Ins</th>
						<th>Cap</th>
						<th>Docente</th>
						<th>lunes</th>
						<th>Martes</th>
						<th>Miercoles</th>
						<th>Jueves</th>
						<th>Viernes</th>
						<th>OBSERVACIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="info">
						<td>TALLER DE INVESTIGACION II</td>
						<td>L5B</td>
						<td>SI</td>
						<td>0</td>
						<td>40</td>
						<td>TORRES HOLGUIN MARCO ANTONIO</td>
						<td> </td>
						<td>18:00 - 20:00 A51 </td>
						<td> </td>
						<td>18:00 - 20:00 A51 </td>
						<td> </td>
						<td> </td>
                    </tr>                    
                    <tr>
						<td>CONTROL I</td>
						<td>L5B</td>
						<td>SI</td>
						<td>0</td>
						<td>40</td>
						<td>SOLIS SANTOSCOY JESUS MANUEL</td>
						<td>16:00 - 18:00 A51 </td>
						<td> </td>
						<td>16:00 - 18:00 A51 </td>
						<td> </td>
						<td>15:00 - 16:00 A51 </td>
						<td> </td>
                    </tr>
                    <tr class="info">
						<td>ELECTRONICA ANALOGICA</td>
						<td>L5B</td>
						<td>SI</td>
						<td>0</td>
						<td>40</td>
						<td>CASTILLO CARRILLO RAUL VICENTE</td>
						<td> </td>
						<td>14:00 - 16:00 L31 </td>
						<td> </td>
						<td>14:00 - 16:00 A51 </td>
						<td>16:00 - 17:00 A51 </td>
						<td> </td>
                    </tr>
                    <tr>
						<td>INST. ELECTRICAS</td>
						<td>L5B</td>
						<td>SI</td>
						<td>0</td>
						<td>40</td>
						<td>RODRIGUEZ CORDOVA JOSE</td>
						<td>14:00 - 16:00 A51 </td>
						<td> </td>
						<td>14:00 - 16:00 A51 </td>
						<td> </td>
						<td> </td>
						<td> </td>
                    </tr>
                    <tr class="info">
						<td>EQUIPOS MECANICOS</td>
						<td>L5B</td>
						<td>SI</td>
						<td>0</td>
						<td>40</td>
						<td>ARGUELLO CARRILLO ANTONIO</td>
						<td> </td>
						<td>16:00 - 18:00 A51 </td>
						<td> </td>
						<td>16:00 - 18:00 A51 </td>
						<td> </td>
						<td> </td>
                    </tr>
                    <tr>
						<td>CIRC.ELECT. II</td>
						<td>L5B</td>
						<td>SI</td>
						<td>0</td>
						<td>40</td>
						<td>CEBALLOS OSORIO JESUS JAIME</td>
						<td>20:00 - 21:00 A51 </td>
						<td>20:00 - 21:00 A51 </td>
						<td>19:00 - 21:00 A51 </td>
						<td>20:00 - 21:00 A51 </td>
						<td>17:00 - 18:00 A51 </td>
						<td> </td>
                    </tr>
                    <tr class="info">
						<td>LEG. EN MAT. ELECTRICA</td>
						<td>L5B</td>
						<td>SI</td>
						<td>0</td>
						<td>99</td>
						<td>PAZ Y PUENTE RAMIREZ ALFONSO</td>
						<td>18:00 - 20:00 A51 </td>
						<td> </td>
						<td>18:00 - 19:00 A51 </td>
						<td> </td>
						<td> </td>
						<td> </td>
                    </tr>
                    <tr>
						<td>ACTIVIDAD COMPLEMENTARIA 5</td>
						<td>L5C</td>
						<td>SI</td>
						<td>0</td>
						<td>99</td>
						<td> </td>
						<td> </td>
						<td> </td>
						<td> </td>
						<td> </td>
						<td> </td>
						<td> </td>
                    </tr>
                </tbody>
            </table>
        </div>               
        <br><br>
<p>PAQUETE 3/3</p><center><p>Quinto Semestre</p></center>
<div class="table-responsive">
            <table class="table">
                <thead>
                    <tr >
						<th>Materia</th>
						<th>Gpo</th>
						<th>Excl / Car</th>
						<th>Ins</th>
						<th>Cap</th>
						<th>Docente</th>
						<th>lunes</th>
						<th>Martes</th>
						<th>Miercoles</th>
						<th>Jueves</th>
						<th>Viernes</th>
						<th>OBSERVACIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="info">
						<td>TALLER DE INVESTIGACION II</td>
						<td>L5C</td>
						<td>SI</td>
						<td>0</td>
						<td>40</td>
						<td>MEDINA GUTIERREZ JOSE DE JESUS EDUARD</td>
						<td>13:00 - 14:00 A52 </td>
						<td>13:00 - 14:00 A52 </td>
						<td>13:00 - 14:00 A52 </td>
						<td>13:00 - 14:00 A52 </td>
						<td> </td>
						<td> </td>
                    </tr>                    
                    <tr>
						<td>CONTROL I</td>
						<td>L5C</td>
						<td>SI</td>
						<td>0</td>
						<td>30</td>
						<td>CASTILLO CARRILLO RAUL VICENTE</td>
						<td>17:00 - 18:00 A52 </td>
						<td>16:00 - 18:00 A52 </td>
						<td> </td>
						<td>16:00 - 18:00 A52 </td>
						<td> </td>
						<td> </td>
                    </tr>
                    <tr class="info">
						<td>ELECTRONICA ANALOGICA</td>
						<td>L5C</td>
						<td>SI</td>
						<td>0</td>
						<td>40</td>
						<td>CASTILLO CARRILLO RAUL VICENTE</td>
						<td>14:00 - 15:00 A52 </td>
						<td> </td>
						<td>14:00 - 16:00 A52 </td>
						<td> </td>
						<td>16:00 - 17:00 L32 </td>
						<td> </td>
                    </tr>
                    <tr>
						<td>INST. ELECTRICAS</td>
						<td>L5C</td>
						<td>SI</td>
						<td>0</td>
						<td>35</td>
						<td>RODRIGUEZ CORDOVA JOSE</td>
						<td> </td>
						<td>14:00 - 16:00 A52 </td>
						<td> </td>
						<td>14:00 - 16:00 A52 </td>
						<td> </td>
						<td> </td>
                    </tr>
                    <tr class="info">
						<td>EQUIPOS MECANICOS</td>
						<td>L5C</td>
						<td>SI</td>
						<td>0</td>
						<td>35</td>
						<td>ARGUELLO CARRILLO ANTONIO</td>
						<td> </td>
						<td> </td>
						<td>16:00 - 18:00 A52 </td>
						<td> </td>
						<td>16:00 - 18:00 A52 </td>
						<td> </td>
                    </tr>
                    <tr>
						<td>ECUACIONES DIFERENCIALES</td>
						<td>L5C</td>
						<td>SI</td>
						<td>0</td>
						<td>20</td>
						<td>BORQUEZ GAMBOA JOSE JESUS CAYETANO</td>
						<td>17:00 - 18:00 S/A </td>
						<td>16:00 - 18:00 S/A </td>
						<td> </td>
						<td>16:00 - 18:00 S/A </td>
						<td> </td>
						<td> </td>
                    </tr>
                    <tr class="info">
						<td>CIRCUITOS ELECTRICOS 1</td>
						<td>L5C</td>
						<td>SI</td>
						<td>0</td>
						<td>35</td>
						<td>CEBALLOS OSORIO JESUS JAIME</td>
						<td>19:00 - 20:00 A52 </td>
						<td> </td>
						<td>18:00 - 19:00 A52 </td>
						<td>18:00 - 20:00 A52 </td>
						<td>19:00 - 20:00 L2A </td>
						<td> </td>
                    </tr>
                    <tr>
						<td>LEG. EN MAT. ELECTRICA</td>
						<td>L5C</td>
						<td>SI</td>
						<td>0</td>
						<td>40</td>
						<td>PAZ Y PUENTE RAMIREZ ALFONSO </td>
						<td> </td>
						<td>18:00 - 20:00 A52 </td>
						<td> </td>
						<td>18:00 - 20:00 A52 </td>
						<td> </td>
						<td> </td>
                    </tr>
                    <tr class="info">
						<td>ACTIVIDAD COMPLEMENTARIA 5</td>
						<td>L5C</td>
						<td>SI</td>
						<td>0</td>
						<td>99</td>
						<td> </td>
						<td> </td>
						<td> </td>
						<td> </td>
						<td> </td>
						<td> </td>
						<td> </td>
                    </tr>                   
                </tbody>
            </table>
        </div>               

        <br><br>
        <p>PAQUETE 1/2</p><center><p>Septimo Semestre</p></center>
<div class="table-responsive">
            <table class="table">
                <thead>
                    <tr >
						<th>Materia</th>
						<th>Gpo</th>
						<th>Excl / Car</th>
						<th>Ins</th>
						<th>Cap</th>
						<th>Docente</th>
						<th>lunes</th>
						<th>Martes</th>
						<th>Miercoles</th>
						<th>Jueves</th>
						<th>Viernes</th>
						<th>OBSERVACIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="info">
						<td>INSTRUMENTACION</td>
						<td>L7A</td>
						<td>SI</td>
						<td>0</td>
						<td>36</td>
						<td>LOPEZ CHAVEZ RAFAEL</td>
						<td>11:00 - 13:00 L32 </td>
						<td> </td>
						<td>11:00 - 13:00 A52 </td>
						<td>11:00 - 12:00 A52 </td>
						<td> </td>
						<td> </td>
                    </tr>                    
                    <tr>
						<td>CONT. MAQ. ELECT.</td>
						<td>L7A</td>
						<td>SI</td>
						<td>0</td>
						<td>36</td>
						<td>MELENDEZ MONTIEL FRANCISCO</td>
						<td>08:00 - 09:00 A54 </td>
						<td>07:00 - 09:00 A54 </td>
						<td> </td>
						<td>07:00 - 09:00 L2A </td>
						<td> </td>
						<td> </td>
                    </tr>
                    <tr class="info">
						<td>MAQ. SINC. Y DE CD</td>
						<td>L7A</td>
						<td>SI</td>
						<td>0</td>
						<td>40</td>
						<td>MENDEZ SALAZAR LUIS</td>
						<td> </td>
						<td>09:00 - 11:00 A54 </td>
						<td> </td>
						<td>09:00 - 11:00 A54 </td>
						<td>10:00 - 11:00 A54 </td>
						<td> </td>
                    </tr>
                    <tr>
						<td>MOD. SIST. ELECT. POTENCIA</td>
						<td>L7A</td>
						<td>SI</td>
						<td>0</td>
						<td>36</td>
						<td>ESQUERRA GASTELUM OCTAVIO</td>
						<td>09:00 - 11:00 L2A </td>
						<td> </td>
						<td>09:00 - 11:00 A54 </td>
						<td> </td>
						<td>09:00 - 10:00 A54 </td>
						<td> </td>
                    </tr>
                    <tr class="info">
						<td>MOT. DE IND. Y ESPEC.</td>
						<td>L7A</td>
						<td>SI</td>
						<td>0</td>
						<td>36</td>
						<td>VALVERDE GUZMAN FLORENTINO</td>
						<td> </td>
						<td>11:00 - 13:00 A54 </td>
						<td> </td>
						<td>11:00 - 13:00 L2A </td>
						<td>12:00 - 13:00 A54 </td>
						<td> </td>
                    </tr>
                    <tr>
						<td>USO EFICIENTE DE LA ENERGIA ELECT.</td>
						<td>L7A</td>
						<td>SI</td>
						<td>0</td>
						<td>36</td>
						<td>HOYO MONTAÑO JOSE ANTONIO</td>
						<td>13:00 - 14:00 A54 </td>
						<td>13:00 - 14:00 A54 </td>
						<td>13:00 - 14:00 A54 </td>
						<td>13:00 - 14:00 A54 </td>
						<td> </td>
						<td> </td>
                    </tr>                    
                    <tr class="info">
						<td>SERVICIO SOCIAL</td>
						<td>L7C</td>
						<td>SI</td>
						<td>0</td>
						<td>99</td>
						<td> </td>
						<td> </td>
						<td> </td>
						<td> </td>
						<td> </td>
						<td> </td>
						<td> </td>
                    </tr>
                </tbody>
            </table>
        </div>               
        <br><br>

<p>PAQUETE 2/2</p><center><p>Septimo Semestre</p></center>
<div class="table-responsive">
            <table class="table">
                <thead>
                    <tr >
						<th>Materia</th>
						<th>Gpo</th>
						<th>Excl / Car</th>
						<th>Ins</th>
						<th>Cap</th>
						<th>Docente</th>
						<th>lunes</th>
						<th>Martes</th>
						<th>Miercoles</th>
						<th>Jueves</th>
						<th>Viernes</th>
						<th>OBSERVACIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="info">
						<td>CONTROL II</td>
						<td>L71</td>
						<td>SI</td>
						<td>0</td>
						<td>40</td>
						<td>VALENCIA PALOMO GUILLERMO</td>
						<td>16:00 - 17:00 A53 </td>
						<td> </td>
						<td>16:00 - 18:00 A53 </td>
						<td> </td>
						<td>16:00 - 18:00 L32 </td>
						<td>Grupo en idioma ingles </td>
                    </tr>                    
                    <tr>
						<td>TRANSFORMADORES</td>
						<td>L7B</td>
						<td>SI</td>
						<td>0</td>
						<td>39</td>
						<td>ZAYAS CASTILLO ROMAN ALBERTO</td>
						<td>15:00 - 16:00 A53 </td>
						<td> </td>
						<td>14:00 - 16:00 A53 </td>
						<td> </td>
						<td>14:00 - 16:00 L2A </td>
						<td> </td>
                    </tr>
                    <tr class="info">
						<td>CONTROL II</td>
						<td>L7P</td>
						<td>SI</td>
						<td>0</td>
						<td>20</td>
						<td>GUTIERREZ URQUIDEZ ROSALIA DEL</td>
						<td>13:00 - 14:00 A55 </td>
						<td>13:00 - 14:00 A55 </td>
						<td>13:00 - 14:00 A55 </td>
						<td>13:00 - 14:00 A55 </td>
						<td> </td>
						<td>Paralelo de AEF1010E7A </td>
                    </tr>
                    <tr>
						<td>INSTRUMENTACION</td>
						<td>L7B</td>
						<td>SI</td>
						<td>0</td>
						<td>36</td>
						<td>BENITEZ MONGE HORACIO</td>
						<td>17:00 - 18:00 A55 </td>
						<td>16:00 - 18:00 A55 </td>
						<td> </td>
						<td>16:00 - 18:00 L36 </td>
						<td> </td>
						<td> </td>
                    </tr>
                    <tr class="info">
						<td>CONT. MAQ. ELECT.</td>
						<td>L7B</td>
						<td>SI</td>
						<td>0</td>
						<td>36</td>
						<td>OCHOA RUIZ CESAR HERIBERTO</td>
						<td> </td>
						<td>18:00 - 20:00 A53 </td>
						<td> </td>
						<td>18:00 - 20:00 L2A </td>
						<td>18:00 - 19:00 A53 </td>
						<td> </td>
                    </tr>                   
                    <tr >
						<td>MOT. DE IND. Y ESPEC.</td>
						<td>L7B</td>
						<td>SI</td>
						<td>0</td>
						<td>36</td>
						<td>SANTOS LUIS CARLOS</td>
						<td>18:00 - 20:00 A53 </td>
						<td> </td>
						<td>18:00 - 20:00 L2A </td>
						<td> </td>
						<td>19:00 - 20:00 A53 </td>
						<td> </td>
                    </tr>
                    <tr class="info">
						<td>USO EFICIENTE DE LA ENERGIA ELECT.</td>
						<td>L7A</td>
						<td>SI</td>
						<td>0</td>
						<td>36</td>
						<td>TORRES HOLGUIN MARCO ANTONIO</td>
						<td> </td>
						<td>14:00 - 16:00 A53 </td>
						<td> </td>
						<td>10:00 - 12:00 A53 </td>
						<td> </td>
						<td> </td>
                    </tr>                    
                    <tr>
						<td>SERVICIO SOCIAL</td>
						<td>L7C</td>
						<td>SI</td>
						<td>0</td>
						<td>99</td>
						<td> </td>
						<td> </td>
						<td> </td>
						<td> </td>
						<td> </td>
						<td> </td>
						<td> </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <br><br>
<p>PAQUETE 1/2</p><center><p>Noveno Semestre</p></center>
<div class="table-responsive">
            <table class="table">
                <thead>
                    <tr >
						<th>Materia</th>
						<th>Gpo</th>
						<th>Excl / Car</th>
						<th>Ins</th>
						<th>Cap</th>
						<th>Docente</th>
						<th>lunes</th>
						<th>Martes</th>
						<th>Miercoles</th>
						<th>Jueves</th>
						<th>Viernes</th>
						<th>OBSERVACIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="info">
						<td>RESIDENCIA PROFESIONAL</td>
						<td>L9A</td>
						<td>SI</td>
						<td>0</td>
						<td>99</td>
						<td></td>					
						<td> </td>
						<td> </td>
						<td> </td>
						<td> </td>
						<td> </td>
						<td> </td>
                    </tr>                    
                    <tr>
						<td>PROTECCIONES DE SEP</td>
						<td>L9A</td>
						<td>SI</td>
						<td>0</td>
						<td>20</td>
						<td>ZAYAS CASTILLO ROMAN ALBERTO</td>
						<td>07:00 - 09:00 A53 </td>
						<td> </td>
						<td>07:00 - 09:00 A54 </td>
						<td> </td>
						<td> </td>
						<td> </td>
                    </tr>
                    <tr class="info">
						<td>OPERACIONES DE LOS SEP</td>
						<td>L9A</td>
						<td>SI</td>
						<td>0</td>
						<td>20</td>
						<td>VALENCIA BARRAGAN JOSE DE JESUS</td>
						<td> </td>
						<td>08:00 - 10:00 A53 </td>
						<td> </td>
						<td>08:00 - 10:00 A54 </td>
						<td>08:00 - 09:00 A54 </td>
						<td> </td>
                    </tr>                    
                </tbody>
            </table>
        </div>                      
        <br><br>
<p>PAQUETE 2/2</p><center><p>Noveno Semestre</p></center>
<div class="table-responsive">
            <table class="table">
                <thead>
                    <tr >
						<th>Materia</th>
						<th>Gpo</th>
						<th>Excl / Car</th>
						<th>Ins</th>
						<th>Cap</th>
						<th>Docente</th>
						<th>lunes</th>
						<th>Martes</th>
						<th>Miercoles</th>
						<th>Jueves</th>
						<th>Viernes</th>
						<th>OBSERVACIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="info">
						<td>CONT. LOG. PROGRAMABLE</td>
						<td>L9B</td>
						<td>SI</td>
						<td>0</td>
						<td>35</td>
						<td>MARTINEZ FIGUEROA MARIA LUCINA</td>					
						<td>13:00 - 14:00 L34 </td>
						<td> </td>
						<td>13:00 - 15:00 L34 </td>
						<td> </td>
						<td>13:00 - 15:00 L34 </td>
						<td> </td>
                    </tr>                    
                    <tr>
						<td>PRUEB. Y MANT. ELECT.</td>
						<td>L9B</td>
						<td>SI</td>
						<td>0</td>
						<td>30</td>
						<td>TORRES HOLGUIN MARCO ANTONIO</td>
						<td>14:00 - 15:00 A54 </td>
						<td>16:00 - 18:00 A54 </td>
						<td> </td>
						<td>16:00 - 18:00 A54 </td>
						<td> </td>
						<td> </td>
                    </tr>
                    <tr class="info">
						<td>REDES DE DISTRIBUCION Y SUBEST</td>
						<td>L9B</td>
						<td>SI</td>
						<td>0</td>
						<td>35</td>
						<td>RODRIGUEZ CORDOVA JOSE</td>
						<td>16:00 - 18:00 A54 </td>
						<td> </td>
						<td>16:00 - 18:00 A54 </td>
						<td> </td>
						<td>15:00 - 16:00 A54 </td>
						<td> </td>
                    </tr>
                    <tr>
						<td>CALIDAD DE LA ENERGIA ELECTRIC</td>
						<td>L9B</td>
						<td>SI</td>
						<td>0</td>
						<td>39</td>
						<td>MIZQUEZ CAMPA ROLANDO</td>
						<td> </td>
						<td> </td>
						<td>20:00 - 21:00 A54 </td>
						<td>19:00 - 21:00 L32 </td>
						<td>20:00 - 21:00 A54 </td>
						<td> </td>
                    </tr>
                    <tr class="info">
						<td>ECO. DE LA ENERGIA ELECTRICA</td>
						<td>L9B</td>
						<td>SI</td>
						<td>0</td>
						<td>35</td>
						<td>MIZQUEZ CAMPA ROLANDO</td>
						<td> </td>
						<td>18:00 - 20:00 A54 </td>
						<td> </td>
						<td>18:00 - 19:00 A54 </td>
						<td> </td>
						<td> </td>
                    </tr>
                    <tr>
						<td>OPERACIONES DE LOS SEP</td>
						<td>L9B</td>
						<td>SI</td>
						<td>0</td>
						<td>20</td>
						<td>MIZQUEZ CAMPA ROLANDO</td>
						<td>18:00 - 20:00 A54 </td>
						<td> </td>
						<td>18:00 - 20:00 A54 </td>
						<td> </td>
						<td>18:00 - 19:00 A54 </td>
						<td> </td>
                    </tr>                    
                    <tr class="info">
						<td>PROTECCIONES DE SEP</td>
						<td>L9B</td>
						<td>SI</td>
						<td>0</td>
						<td>20</td>
						<td>ESQUERRA GASTELUM OCTAVIO </td>
						<td> </td>
						<td>14:00 - 16:00 A54 </td>
						<td> </td>
						<td>14:00 - 16:00 A54 </td>
						<td> </td>
						<td> </td>
                    </tr>
                </tbody>
            </table>
        </div>        

	</div>
</div>
        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>