<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main" ng-controller="geebController as vm">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

    <section id="content">
        <div class="container">
<center>
		<h1 style="margin-top:0px; padding-top:0px;">Ing. Informatica</h1>
	</center>
</div>

<div class="row">
	<div class="col-xs-2">
		<center>
			<h4 style="margin-bottom: 20px">Semestres</h4>
			<button style="background-color: #d5e5f1;"i class="zmdi zmdi-collection-item-1 zmdi-hc-2x"</i></button><br><br>
			<button style="background-color: #d5e5f1;"  i class="zmdi zmdi-collection-item-3 zmdi-hc-2x"</i></button><br><br>
			<button style="background-color: #d5e5f1;" i class="zmdi zmdi-collection-item-5 zmdi-hc-2x"</i></button><br><br>
			<button style="background-color: #d5e5f1;" i class="zmdi zmdi-collection-item-7 zmdi-hc-2x"</i></button><br><br>
			<button style="background-color: #d5e5f1;" i class="zmdi zmdi-collection-item-9 zmdi-hc-2x"</i></button><br><br>
		</center>
	</div>
	<div class="col-xs-10">
		<center>
			<h4 style="color: #34495e">Pre-Horarios</h4>
		</center>
        <p><center><h4 style="color:red">ESTUDIANTES DE NUEVO INGRESO: NO OLVIDEN INSCRIBIRSE EN EXTRAESCOLARES E INGLES. <br>
        ES OBLIGACION CURSARLAS EN SU PRIMER SEMESTRE</h4></center></p>
        <br><br>
<p>PAQUETE 1/1 Matutino</p><center><p>Primer Semestre</p></center>
<div class="table-responsive">
            <table class="table">
                <thead>
                    <tr >
						<th>Materia</th>
						<th>No. Creditos</th>
						<th>Hrs sem</th>
						<th>Maestro</th>
						<th>Aula</th>
						<th>lunes</th>
						<th>Martes</th>
						<th>Miercoles</th>
						<th>Jueves</th>
						<th>Viernes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="info">
						<td>Calculo Diferencial</td>
						<td>5</td>
						<td>5</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('ROSAS PANDURO DAGOBERTO')" style="cursor: pointer;">ROSAS PANDURO DAGOBERTO</td>
						<td>A81</td>
						<td>9:00 - 10:00</td>
						<td> - </td>
						<td>9:00 - 11:00</td>
						<td> - </td>
						<td>9:00 - 11:00</td>
                    </tr>
                    <tr >
						<td>MATEMÁTICAS DISCRETAS</td>
						<td>5</td>
						<td>5</td>
						<td> No Asignado</td>
						<td>A81</td>
						<td>11:00 - 12:00</td>
						<td>11:00  - 13:00</td>
						<td>11:00 - 13:00</td>
						<td>11:00 - 13:00</td>
						<td> - </td>
                    </tr>
                    <tr class="info">
						<td>FUNDAMENTOS DE INVEST.</td>
						<td>4</td>
						<td>4</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('MANCINAS GONZALEZ ABELARDO')" style="cursor: pointer;">MANCINAS GONZALEZ ABELARDO</td>
						<td>A81</td>
						<td> - </td>
						<td> - </td>
						<td>7:00 - 9:00</td>
						<td> - </td>
						<td>7:00 - 9:00</td>
                    </tr>
                    <tr >
						<td>TALLER DE ÉTICA</td>
						<td>4</td>
						<td>4</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('ISLAS SEPULVEDA MARIA DEL CARMEN')" style="cursor: pointer;">ISLAS SEPULVEDA MARIA DEL CARMEN</td>
						<td>A81</td>
						<td> - </td>
						<td> - </td>
						<td>11:00 - 13:00</td>
						<td> - </td>
						<td>11:00 - 13:00</td>
                    </tr>
                    <tr class="info">
						<td>FUNDAMENTOS DE PROGAM.</td>
						<td>5</td>
						<td>5</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('JAIME BURGOS VICTOR MANUEL')" style="cursor: pointer;">JAIME BURGOS VICTOR MANUEL</td>
						<td>L55</td>
						<td>10:00 - 11:00</td>
						<td>9:00 - 11:00</td>
						<td> - </td>
						<td>9:00 - 11:00</td>
						<td> - </td>
                    </tr>
                    <tr >
						<td>TUTORIAS I</td>
						<td> - </td>
						<td>2</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('ROMERO DUEÑAS MARTHA ALICIA')" style="cursor: pointer;">ROMERO DUEÑAS MARTHA ALICIA</td>
						<td>A81</td>
						<td>12:00 - 14:00</td>
						<td>**12:00 - 14:00</td>
						<td> - </td>
						<td> - </td>
						<td> - </td>
                    </tr>
                    <tr class="info">
						<td>ACTIVIDADES EXTRAESC. I</td>
						<td> - </td>
						<td> - </td>
						<td> - </td>
						<td> - </td>
						<td> - </td>
						<td> - </td>
						<td> - </td>
						<td> - </td>
						<td> - </td>
                    </tr>
                </tbody>
            </table>
        </div>        

<p>PAQUETE 3/1 Matutino</p><center><p>Tercer Semestre</p></center>
<div class="table-responsive">
            <table class="table">
                <thead>
                    <tr >
						<th>Materia</th>
						<th>No. Creditos</th>
						<th>Hrs sem</th>
						<th>Maestro</th>
						<th>Aula</th>
						<th>lunes</th>
						<th>Martes</th>
						<th>Miercoles</th>
						<th>Jueves</th>
						<th>Viernes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="info">
						<td>SIST. ELECTRO. PARA INF.</td>
						<td>4</td>
						<td>4</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('MEDELLIN VALDEZ ALEJANDRO')" style="cursor: pointer;">MEDELLIN VALDEZ ALEJANDRO</td>
						<td>A82</td>
						<td> - </td>
						<td>7:00 - 9:00</td>
						<td> - </td>
						<td>7:00 - 9:00</td>
						<td> - </td>
                    </tr>
                    <tr >
						<td>COSTOS EMPRESARIALES</td>
						<td>4</td>
						<td>4</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('JOSE ALFREDO CAÑEZ')" style="cursor: pointer;">JOSE ALFREDO CAÑEZ</td>
						<td>A82</td>
						<td> - </td>
						<td>11:00  - 13:00</td>
						<td>**11:00 - 13:00</td>
						<td>11:00 - 13:00</td>
						<td> - </td>
                    </tr>
                    <tr class="info">
						<td>PROB. Y ESTADISTICA</td>
						<td>5</td>
						<td>5</td>
						<td> NO Asignado</td>
						<td>A82</td>
						<td>8:00 - 9:00</td>
						<td> - </td>
						<td>7:00 - 9:00</td>
						<td> - </td>
						<td>7:00 - 9:00</td>
                    </tr>
                    <tr >
						<td>Algebra Lineal</td>
						<td>5</td>
						<td>5</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('AHUMADA FLORES JOSE')" style="cursor: pointer;">AHUMADA FLORES JOSE</td>
						<td>A82</td>
						<td>11:00 - 12:00</td>
						<td> - </td>
						<td>11:00 - 13:00</td>
						<td> - </td>
						<td>11:00 - 13:00</td>
                    </tr>
                    <tr class="info">
						<td>**CALCULO INTEGRAL</td>
						<td>5</td>
						<td>5</td>
						<td >Sin Asignar</td>
						<td>A82</td>
						<td>11:00 - 12:00</td>
						<td> - </td>
						<td>11:00 - 13:00</td>
						<td> - </td>
						<td>11:00 - 13:00</td>
                    </tr>
                    <tr >
						<td>FUND. DE SIST. DE INF</td>
						<td> 4 </td>
						<td> 4 </td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('ZEPEDA MIRAMONTES FRANCISCA LORENA')" style="cursor: pointer;">ZEPEDA MIRAMONTES FRANCISCA LORENA</td>
						<td>A82</td>
						<td> - </td>
						<td> - </td>
						<td>9:00 - 11:00</td>
						<td> - </td>
						<td>9:00 - 11:00</td>
                    </tr>
                    <tr class="info">
						<td>**ESTRUCTURA DE DATOS</td>
						<td> 5 </td>
						<td> 5 </td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('RAMIREZ ADAME ROSÍO')" style="cursor: pointer;">RAMIREZ ADAME ROSÍO</td>
						<td>L54</td>
						<td>9:00 - 11:00</td>
						<td> - </td>
						<td> - </td>
						<td>9:00 - 11:00</td>
						<td> - </td>
                    </tr>
                    <tr >
						<td>**PROG. ORIENTADA A OBJ.(Vespertino)</td>
						<td> 5 </td>
						<td> 5 </td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('MENDOZA ROBLES ALFONSO')" style="cursor: pointer;">MENDOZA ROBLES ALFONSO</td>
						<td>L54</td>
						<td>17:00 - 18:00</td>
						<td> - </td>
						<td>16:00 - 18:00</td>
						<td> - </td>
						<td>16:00 - 18:00</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br><br>
<p>PAQUETE 5/1 Matutino</p><center><p>Quinto Semestre</p></center>
<div class="table-responsive">
            <table class="table">
                <thead>
                    <tr >
						<th>Materia</th>
						<th>No. Creditos</th>
						<th>Hrs sem</th>
						<th>Maestro</th>
						<th>Aula</th>
						<th>lunes</th>
						<th>Martes</th>
						<th>Miercoles</th>
						<th>Jueves</th>
						<th>Viernes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="info">
						<td>ANALISIS Y MOD. SIST. INF.</td>
						<td>5</td>
						<td>5</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('HUERTA CASTILLO MARÍA YOLANDA')" style="cursor: pointer;">HUERTA CASTILLO MARÍA YOLANDA</td>
						<td>A83</td>
						<td>9:00 - 11:00</td>
						<td>8:00 - 9:00</td>
						<td>9:00 - 11:00</td>
						<td> - </td>
						<td> - </td>
                    </tr>
                    <tr >
						<td>TECN. E INTERF DE COMP.</td>
						<td>4</td>
						<td>4</td>
						<td>Sin Asignar</td>
						<td>A83</td>
						<td> - </td>
						<td>13:00  - 14:00</td>
						<td>13:00  - 14:00</td>
						<td>13:00  - 14:00</td>
						<td>13:00  - 14:00</td>
                    </tr>
                    <tr class="info">
						<td>FUND. DE BASE DE DATOS</td>
						<td>5</td>
						<td>5</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('SERNA ENCINAS MARÍA TRINIDAD')" style="cursor: pointer;">SERNA ENCINAS MARÍA TRINIDAD</td>
						<td>A83</td>
						<td>7:00 - 9:00</td>
						<td> - </td>
						<td>7:00 - 9:00</td>
						<td> - </td>
						<td>7:00 - 8:00</td>
                    </tr>
                    <tr >
						<td>Algebra Lineal</td>
						<td>5</td>
						<td>5</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('AHUMADA FLORES JOSE')" style="cursor: pointer;">AHUMADA FLORES JOSE</td>
						<td>A82</td>
						<td>11:00 - 12:00</td>
						<td> - </td>
						<td>11:00 - 13:00</td>
						<td> - </td>
						<td>11:00 - 13:00</td>
                    </tr>
                    <tr class="info">
						<td>REDES DE COMP. </td>
						<td>5</td>
						<td>5</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('BARAJAS MARISCAL JESUS EMILIO')" style="cursor: pointer;">BARAJAS MARISCAL JESUS EMILIO</td>
						<td>L56</td>
						<td> - </td>
						<td>9:00 - 11:00</td>
						<td> - </td>
						<td>9:00 - 11:00</td>
						<td>8:00 - 9:00</td>
                    </tr>
                    <tr >
						<td>SIST. OPERATIVOS II</td>
						<td> 5 </td>
						<td> 5 </td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('PEREZ PEREZ DANIEL')" style="cursor: pointer;">PEREZ PEREZ DANIEL</td>
						<td>L54</td>
						<td> - </td>
						<td>11:00 - 13:00</td>
						<td> - </td>
						<td>11:00 - 13:00</td>
						<td>10:00 - 13:00</td>
                    </tr>
                    <tr class="info">
						<td>SEGURIDAD INFORMATICA</td>
						<td> 4 </td>
						<td> 4 </td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('BARAJAS MARISCAL JESUS EMILIO')" style="cursor: pointer;">BARAJAS MARISCAL JESUS EMILIO</td>
						<td>L56</td>
						<td> - </td>
						<td> - </td>
						<td>11:00 - 13:00</td>
						<td> - </td>
						<td>11:00 - 13:00</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br><br>
<p>PAQUETE 7/1 Matutino</p><center><p>Septimo Semestre</p></center>
<div class="table-responsive">
            <table class="table">
                <thead>
                    <tr >
						<th>Materia</th>
						<th>No. Creditos</th>
						<th>Hrs sem</th>
						<th>Maestro</th>
						<th>Aula</th>
						<th>lunes</th>
						<th>Martes</th>
						<th>Miercoles</th>
						<th>Jueves</th>
						<th>Viernes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="info">
						<td>CALIDAD DE LOS SIST. INF</td>
						<td> 4 </td>
						<td> 4 </td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('SEVILLA ZAZUETA MARTHA PATRICIA')" style="cursor: pointer;">SEVILLA ZAZUETA MARTHA PATRICIA</td>
						<td>A84</td>
						<td> - </td>
						<td>9:00 - 11:00</td>
						<td> - </td>
						<td>9:00 - 11:00</td>
						<td> - </td>
                    </tr>
                    <tr >
						<td>FUND. DE GEST.SERV. DE TI</td>
						<td> 4 </td>
						<td> 4 </td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('BOJORQUEZ CARRILLO RAYMUNDO')" style="cursor: pointer;">BOJORQUEZ CARRILLO RAYMUNDO</td>
						<td>A84</td>
						<td> - </td>
						<td> - </td>
						<td>7:00  - 9:00</td>
						<td> - </td>
						<td>7:00  - 9:00</td>
                    </tr>
                    <tr class="info">
						<td>TOPICOS DE B. DE DATOS</td>
						<td>5</td>
						<td>5</td>
						<td>Sin Asignar</td>
						<td>L57</td>
						<td>10:00 - 11:00</td>
						<td>11:00 - 13:00</td>
						<td> - </td>
						<td>11:00 - 13:00</td>
						<td> - </td>
                    </tr>
                    <tr >
						<td>ADMON. DE SERVIDORES</td>
						<td>4</td>
						<td>4</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('MADRID MARTINEZ JOSE')" style="cursor: pointer;">MADRID MARTINEZ JOSE</td>
						<td>L52</td>
						<td> - </td>
						<td> - </td>
						<td>11:00 - 13:00</td>
						<td> - </td>
						<td>11:00 - 13:00</td>
                    </tr>
                    <tr class="info">
						<td>PROGR. AMB. CTE-SERVIDOR</td>
						<td> 5 </td>
						<td> 5 </td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('MADRID MARTINEZ JOSE')" style="cursor: pointer;">MADRID MARTINEZ JOSE</td>
						<td>L51</td>
						<td>11:00 - 14:00</td>
						<td>13:00 - 14:00</td>
						<td> - </td>
						<td>13:00 - 14:00</td>
						<td>-</td>
                    </tr>
                    <tr >
						<td>TALLER DE INV. II</td>
						<td> 4 </td>
						<td> 4 </td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('BOJORQUEZ CARRILLO RAYMUNDO')" style="cursor: pointer;">BOJORQUEZ CARRILLO RAYMUNDO</td>
						<td>A84</td>
						<td> - </td>
						<td>7:00 - 9:00</td>
						<td> - </td>
						<td>7:00 - 9:00</td>
						<td> - </td>
                    </tr>
                    <tr class="info">
						<td>DES. APLIC. PARA MOVILES</td>
						<td> 5 </td>
						<td> 5 </td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('TRUJILLO VENEGAS DOMINGO')" style="cursor: pointer;">TRUJILLO VENEGAS DOMINGO</td>
						<td>B21</td>
						<td>9:00 - 10:00</td>
						<td> - </td>
						<td>9:00 - 11:00</td>
						<td> - </td>
						<td>9:00 - 11:00</td>
                    </tr>
                </tbody>
            </table>
        </div>
		<br><br>
<p>PAQUETE 9/1 Vespertino</p><center><p>Noveno Semestre</p></center>
<div class="table-responsive">
            <table class="table">
                <thead>
                    <tr >
						<th>Materia</th>
						<th>No. Creditos</th>
						<th>Hrs sem</th>
						<th>Maestro</th>
						<th>Aula</th>
						<th>lunes</th>
						<th>Martes</th>
						<th>Miercoles</th>
						<th>Jueves</th>
						<th>Viernes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="info">
						<td>DES. DE APLIC. REAL.AUMEN</td>
						<td> 4 </td>
						<td> 4 </td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('GUTIERREZ COTA JORGE DAVID')" style="cursor: pointer;">GUTIERREZ COTA JORGE DAVID</td>
						<td>L57</td>
						<td> - </td>
						<td>18:00 - 20:00</td>
						<td> - </td>
						<td>18:00 - 20:00</td>
						<td> - </td>
                    </tr>
                    <tr >
						<td>SEG. EN APLIC. MÓVILES</td>
						<td> 4 </td>
						<td> 4 </td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('SANCHEZ VALLES JAVIER')" style="cursor: pointer;">SANCHEZ VALLES JAVIER</td>
						<td>L57</td>
						<td> - </td>
						<td>16:00 - 18:00</td>
						<td>  - </td>
						<td>16:00 - 18:00</td>
						<td>  - </td>
                    </tr>
                    <tr class="info">
						<td>TALLER MERC. DE APPS</td>
						<td>4</td>
						<td>4</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('MANCINAS GONZALEZ ABELARDO')" style="cursor: pointer;">MANCINAS GONZALEZ ABELARDO</td>
						<td>A81</td>
						<td>14:00 - 15:00</td>
						<td>14:00 - 15:00</td>
						<td>14:00 - 15:00</td>
						<td>14:00 - 15:00</td>
						<td> - </td>
                    </tr>
                    <tr >
						<td>AUDITORIA INFORMATICA</td>
						<td>4</td>
						<td>4</td>
						<td data-ui-sref="pages.profile.profile-comentarios" ng-click="vm.Gnombre('MOCTEZUMA ENRIQUEZ ISIDRA')" style="cursor: pointer;">MOCTEZUMA ENRIQUEZ ISIDRA</td>
						<td>A81</td>
						<td> - </td>
						<td>15:00 - 16:00</td>
						<td> - </td>
						<td>15:00 - 16:00</td>
						<td>14:00 - 16:00</td>
                    </tr>
                </tbody>
            </table>
        </div>
	</div>
</div>
        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>