<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

    <section id="content">
        <div class="container">
<center>
		<h1 style="margin-top:0px; padding-top:0px;">Ing. Informatica</h1>
	</center>
</div>

<div class="row">
	<div class="col-xs-2">
		<center>
			<h4 style="margin-bottom: 20px">Semestres</h4>
			<button style="background-color: #d5e5f1;"i class="zmdi zmdi-collection-item-1 zmdi-hc-2x"</i></button><br><br>
			<button style="background-color: #d5e5f1;"  i class="zmdi zmdi-collection-item-3 zmdi-hc-2x"</i></button><br><br>
			<button style="background-color: #d5e5f1;" i class="zmdi zmdi-collection-item-5 zmdi-hc-2x"</i></button><br><br>
			<button style="background-color: #d5e5f1;" i class="zmdi zmdi-collection-item-7 zmdi-hc-2x"</i></button><br><br>
			<button style="background-color: #d5e5f1;" i class="zmdi zmdi-collection-item-9 zmdi-hc-2x"</i></button><br><br>
		</center>
	</div>
	<div class="col-xs-10">
		<center>
			<h4 style="color: #34495e">Pre-Horarios</h4>
		</center>
<p>PAQUETE 1/1</p><center><p>Primer Semestre</p></center>
<div class="table-responsive">
            <table class="table">
                <thead>
                    <tr >
						<th>Materia</th>
						<th>No. Creditos</th>
						<th>Hrs sem</th>
						<th>Maestro</th>
						<th>Aula</th>
						<th>lunes</th>
						<th>Martes</th>
						<th>Miercoles</th>
						<th>Jueves</th>
						<th>Viernes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="info">
						<td>Calculo Diferencial</td>
						<td>5</td>
						<td>5</td>
						<td>ROSAS PANDURO DAGOBERTO</td>
						<td>A81</td>
						<td>9:00 - 10:00</td>
						<td> - </td>
						<td>9:00 - 11:00</td>
						<td> - </td>
						<td>9:00 - 11:00</td>
                    </tr>
                    <tr >
						<td>MATEMÁTICAS DISCRETAS</td>
						<td>5</td>
						<td>5</td>
						<td> No Asignado</td>
						<td>A81</td>
						<td>11:00 - 12:00</td>
						<td>11:00  - 13:00</td>
						<td>11:00 - 13:00</td>
						<td>11:00 - 13:00</td>
						<td> - </td>
                    </tr>
                    <tr class="info">
						<td>FUNDAMENTOS DE INVEST.</td>
						<td>4</td>
						<td>4</td>
						<td>MANCINAS GONZALEZ ABELARDO</td>
						<td>A81</td>
						<td> - </td>
						<td> - </td>
						<td>7:00 - 9:00</td>
						<td> - </td>
						<td>7:00 - 9:00</td>
                    </tr>
                    <tr >
						<td>TALLER DE ÉTICA</td>
						<td>4</td>
						<td>4</td>
						<td>ISLAS SEPULVEDA MARIA DEL CARMEN</td>
						<td>A81</td>
						<td> - </td>
						<td> - </td>
						<td>11:00 - 13:00</td>
						<td> - </td>
						<td>11:00 - 13:00</td>
                    </tr>
                    <tr class="info">
						<td>FUNDAMENTOS DE PROGAM.</td>
						<td>5</td>
						<td>5</td>
						<td>JAIME BURGOS VICTOR MANUEL</td>
						<td>L55</td>
						<td>10:00 - 11:00</td>
						<td>9:00 - 11:00</td>
						<td> - </td>
						<td>9:00 - 11:00</td>
						<td> - </td>
                    </tr>
                    <tr >
						<td>TUTORIAS I</td>
						<td> - </td>
						<td>2</td>
						<td>ROMERO DUEÑAS MARTHA ALICIA</td>
						<td>A81</td>
						<td>12:00 - 14:00</td>
						<td>**12:00 - 14:00</td>
						<td> - </td>
						<td> - </td>
						<td> - </td>
                    </tr>
                    <tr class="info">
						<td>ACTIVIDADES EXTRAESC. I</td>
						<td> - </td>
						<td> - </td>
						<td> - </td>
						<td> - </td>
						<td> - </td>
						<td> - </td>
						<td> - </td>
						<td> - </td>
						<td> - </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br><br>
        <p><h4>ESTUDIANTES DE NUEVO INGRESO: NO OLVIDEN INSCRIBIRSE EN EXTRAESCOLARES E INGLES.
        ES OBLIGACION CURSARLAS EN SU PRIMER SEMESTRE</h4></p>
        <br><br>

<p>PAQUETE 3/1</p><center><p>Tercer Semestre</p></center>
<div class="table-responsive">
            <table class="table">
                <thead>
                    <tr >
						<th>Materia</th>
						<th>No. Creditos</th>
						<th>Hrs sem</th>
						<th>Maestro</th>
						<th>Aula</th>
						<th>lunes</th>
						<th>Martes</th>
						<th>Miercoles</th>
						<th>Jueves</th>
						<th>Viernes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="info">
						<td>SIST. ELECTRO. PARA INF.</td>
						<td>4</td>
						<td>4</td>
						<td>MEDELLIN VALDEZ ALEJANDRO</td>
						<td>A82</td>
						<td> - </td>
						<td>7:00 - 9:00</td>
						<td> - </td>
						<td>7:00 - 9:00</td>
						<td> - </td>
                    </tr>
                    <tr >
						<td>COSTOS EMPRESARIALES</td>
						<td>4</td>
						<td>4</td>
						<td>JOSE ALFREDO CAÑEZ</td>
						<td>A82</td>
						<td> - </td>
						<td>11:00  - 13:00</td>
						<td>**11:00 - 13:00</td>
						<td>11:00 - 13:00</td>
						<td> - </td>
                    </tr>
                    <tr class="info">
						<td>PROB. Y ESTADISTICA</td>
						<td>5</td>
						<td>5</td>
						<td> NO Asignado</td>
						<td>A82</td>
						<td>8:00 - 9:00</td>
						<td> - </td>
						<td>7:00 - 9:00</td>
						<td> - </td>
						<td>7:00 - 9:00</td>
                    </tr>
                    <tr >
						<td>Algebra Lineal</td>
						<td>4</td>
						<td>4</td>
						<td>AHUMADA FLORES JOSE C.</td>
						<td>A81</td>
						<td> - </td>
						<td> - </td>
						<td>11:00 - 13:00</td>
						<td> - </td>
						<td>11:00 - 13:00</td>
                    </tr>
                    <tr class="info">
						<td>FUNDAMENTOS DE PROGAM.</td>
						<td>5</td>
						<td>5</td>
						<td>JAIME BURGOS VICTOR MANUEL</td>
						<td>L55</td>
						<td>10:00 - 11:00</td>
						<td>9:00 - 11:00</td>
						<td> - </td>
						<td>9:00 - 11:00</td>
						<td> - </td>
                    </tr>
                    <tr >
						<td>TUTORIAS I</td>
						<td> - </td>
						<td>2</td>
						<td>ROMERO DUEÑAS MARTHA ALICIA</td>
						<td>A81</td>
						<td>12:00 - 14:00</td>
						<td>**12:00 - 14:00</td>
						<td> - </td>
						<td> - </td>
						<td> - </td>
                    </tr>
                    <tr class="info">
						<td>ACTIVIDADES EXTRAESC. I</td>
						<td> - </td>
						<td> - </td>
						<td> - </td>
						<td> - </td>
						<td> - </td>
						<td> - </td>
						<td> - </td>
						<td> - </td>
						<td> - </td>
                    </tr>
                </tbody>
            </table>
        </div>
	</div>
</div>
        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>