<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

    <section id="content">
        <div class="container">
<center>
		<h1 style="margin-top:0px; padding-top:0px;">Ing. Informatica</h1>
	</center>
</div>

<div class="row">
	<div class="col-xs-2">
		<center>
			<h4 style="margin-bottom: 20px">Semestres</h4>
			<button i class="zmdi zmdi-collection-item-1 zmdi-hc-2x"</i></button><br><br>
			<button i class="zmdi zmdi-collection-item-2 zmdi-hc-2x"</i></button><br><br>
			<button i class="zmdi zmdi-collection-item-3 zmdi-hc-2x"</i></button><br><br>
			<button i class="zmdi zmdi-collection-item-4 zmdi-hc-2x"</i></button><br><br>
			<button i class="zmdi zmdi-collection-item-5 zmdi-hc-2x"</i></button><br><br>
		</center>
	</div>
	<div class="col-xs-10">
		<center>
			<h4 style="color: #34495e">Pre-Horarios</h4>
		</center>

<div class="table-responsive">
            <table class="table">
                <thead>
                    <tr class="warning c-white">
						<th>Materia</th>
						<th>Maestro</th>
						<th>lunes</th>
						<th>Martes</th>
						<th>Miercoles</th>
						<th>Jueves</th>
						<th>Viernes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="active">
						<td>Calculo Diferencial</td>
						<td>Panduro</td>
						<td>7:00 - 9:00</td>
						<td>7:00 - 9:00</td>
						<td>7:00 - 9:00</td>
						<td>7:00 - 9:00</td>
						<td>7:00 - 9:00</td>
                    </tr>
                    <tr class="warning c-white">
						<td>Quimica</td>
						<td>Sin Asignar</td>
						<td>7:00 - 9:00</td>
						<td>7:00 - 9:00</td>
						<td>7:00 - 9:00</td>
						<td>7:00 - 9:00</td>
						<td>7:00 - 9:00</td>
                    </tr>
                    <tr class="active">
						<td>Fund. De Telecom</td>
						<td>Elmer galarga</td>
						<td>7:00 - 9:00</td>
						<td>7:00 - 9:00</td>
						<td>7:00 - 9:00</td>
						<td>7:00 - 9:00</td>
						<td>7:00 - 9:00</td>
                    </tr>
                    <tr class="warning c-white">
						<td>Fisica</td>
						<td>Sin Asignar</td>
						<td>7:00 - 9:00</td>
						<td>7:00 - 9:00</td>
						<td>7:00 - 9:00</td>
						<td>7:00 - 9:00</td>
						<td>7:00 - 9:00</td>
                    </tr>
                    <tr class="active">
						<td>Etica</td>
						<td>Sin Asignar</td>
						<td>7:00 - 9:00</td>
						<td>7:00 - 9:00</td>
						<td>7:00 - 9:00</td>
						<td>7:00 - 9:00</td>
						<td>7:00 - 9:00</td>
                    </tr>
                </tbody>
            </table>
        </div>
	</div>
</div>
        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>