<div class="sidebar-inner c-overflow">    
    <div class="profile-menu">
        <a href="" toggle-submenu>
            <div class="profile-pic">
                <img src="img/profile-pics/fondo.jpg" alt="">
            </div>

            <div class="profile-info">
                GeebSoft Company
            </div>
        </a>

        
    </div>

    <ul class="main-menu">
        
        <li data-ui-sref-active="active">
            <a data-ui-sref="maestros" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-accounts-list zmdi-hc-fw"></i> Maestros</a>
        </li>
        <!-- <li data-ui-sref-active="active">
            <a data-ui-sref="materias" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-functions zmdi-hc-fw"></i> Materias</a>
        </li>
 -->        <li data-ui-sref-active="active">
            <a data-ui-sref="preHorarios" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-calendar"></i> Pre-horarios</a>
        </li>
        
        <!-- <li data-ui-sref-active="active">
            <a data-ui-sref="sugerencias" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-info zmdi-hc-fw"></i> Sugerencias</a>
        </li> -->
        
        
    </ul>
</div>
