<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>GEEB</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="styles/css/font-awesome.min.css">
	<link rel="stylesheet" href="styles/second-menu.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<!-- Angular Material CSS now available via Google CDN; version 1.0.7 used here -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">
</head>
<body> 
	

	<!-- <nav class="navbar navbar-fixed-left navbar-minimal animate" role="navigation">
		<div class="navbar-toggler animate">
			<span class="menu-icon"></span>
		</div>
		<ul class="navbar-menu animate">
			<li> 
				<a href="#about-us" class="animate">
					<span class="desc animate"> Who We Are </span>
					<span class="glyphicon glyphicon-user"></span>
				</a>
			</li>
			<li>
				<a href="#blog" class="animate">
					<span class="desc animate"> What We Say </span>
					<span class="glyphicon glyphicon-info-sign"></span>
				</a>
			</li>
			<li>
				<a href="#contact-us" class="animate">
					<span class="desc animate"> How To Reach Us </span>
					<span class="glyphicon glyphicon-comment"></span>
				</a>
			</li>
		</ul>
	</nav>
	-->
	
	<nav class=" no-margin" style="background-color: #2196F3">
    <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header fixed-brand">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"  id="menu-toggle">
                      <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                    </button>
                    <a href=""class="navbar-brand"id="menu-toggle-2" style="color:white"> GEEB</a>
                </div><!-- navbar-header-->
 
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="active" >
                                	<!--<button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2"> <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span></button>-->
                                </li>
                            </ul>
                </div><!-- bs-example-navbar-collapse-1 -->
    </nav>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper"  ng-controller="menusController as ck">
            <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
 				<br>
                <li class="">
                    <a href="#" class="" id="men0" ng-click="ck.ponerLink()"><span class="fa-stack fa-lg pull-left"><i class="fa fa-search fa-stack-1x"></i></i></span>Buscar Maestros</a>
                </li>
                <br> <br>
                <hr style="padding: 0px; margin: 0px;">
                <li>

                	<span class="fa-stack fa-lg pull-left"></span><span style="color: #212121;">Busqueda por:</span>
                </li>
                <li>
                    <a href="#" class="" id="men1" ng-click="ck.ponerLink1()"> <span class="fa-stack fa-lg pull-left"><i class="fa fa-list-ol fa-stack-1x" aria-hidden="true"></i></span>Semestres</a>
                   
                
                </li>
                <li>
                    <a href="#/buscarMaterias" id="men2" ng-click="ck.ponerLink2()"><span class="fa-stack fa-lg pull-left"><i class="fa fa-book fa-stack-1x" aria-hidden="true"></i></span>Materias</a>

                    
                </li>
                <li>
                    <a href="#" id="men3" ng-click="ck.ponerLink3()"><span class="fa-stack fa-lg pull-left"><i class="fa fa-table fa-stack-1x" aria-hidden="true"></i></span>Pre-Horarios</a>
                    
                </li>
                <li>
                	<a href="#/agregarMaestro" id="men4" ng-click="ck.ponerLink4()"><span class="fa-stack fa-lg pull-left"><i class="fa fa-table fa-stack-1x" aria-hidden="true"></i></span>Agregar Maestros</a>                	
                	
                	<a href="#/perfilMaestro" id="men5" ng-click="ck.ponerLink5()"><span class="fa-stack fa-lg pull-left"><i class="fa fa-table fa-stack-1x" aria-hidden="true"></i></span>Perfil de maestros</a>                	
                	<hr style="padding: 0px; margin: 0px">
                </li>
                
            </ul>
        </div><!-- /#sidebar-wrapper -->
        <!-- Page Content -->
    <!-- wraper -->
    <div id="page-content-wrapper">
            <div class="container-fluid xyz">
                <div ng-view>
					<!-- Todas las vistas aqui-->
				</div>
            </div>
        </div>
    </div>

	
	


	<!-- AngularJs-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>


    <!-- Angular Material Javascript now available via Google CDN; version 1.0.7 used here -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.7/angular-material.min.js"></script>
    
	<!-- jQuery-->
	<script src="bower_components/jquery/dist/jquery.min.js"></script>

	<!-- Firebase -->
	<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>

	<!-- AngularFire -->
	<script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>
	
	<!-- Angular route -->
	<script src="bower_components/angular-route/angular-route.js"></script>
	
	<!-- Scroll Glue
	<script src="bower_components/ng-scroll-glue/dist/ng-scroll-glue.js"></script>-->
	
	<!-- Script Principal -->
	<script src="scripts/app.js"></script>


	<script src="scripts/controllers/secondMenu.js"></script>

	<script src="scripts/controllers/agregarMaestro.js"></script>
</body>
</html>