<div class="row">
	<div class="col-xs-3"></div>
	<div class="col-xs-3">
   <div class="search">
      <input type="text" class="searchTerm" placeholder="Buscar por materias" ng-model="buscarMateria">
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
     </button>
   </div>
   </div>
</div>

<div class="p+" style="margin-bottom:150px" ng-repeat="materia in vm.moMateria | filter: buscarMateria">
	<div class="col-xs-8">
	    <div class="card">
	        <div flex-container="row">
	            <div class="card__img card__img--left" style="height: 160px">
	                <img style="margin:10px"class="img-circle"src="images/panduro.jpg">
	            </div>
	 
	            <div flex-item flex-container="column">
	                <div flex-item>
	                    <div class="p+">
	                        <strong class="fs-headline display-block">{{materia.materia}}</strong>
	                        <span class="fs-subhead tc-black-2 display-block">Lorem Ipsum</span>
	                    </div>
	                </div>
	 
	                <div class="card__actions">
	                    <lx-button lx-color="black" lx-type="flat">Free sample</lx-button>
	                    <lx-button lx-color="orange" lx-type="flat">Review</lx-button>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>


