
<head>
	<title>Carreras</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="divstilo.css">
</head>
<div class="row">
	<div class="col-xs-4">
		<h2 style="margin-left:20px; margin-bottom:0px; margin-top:0px">Carreras </h2>
		<center>
			<div class="col-xs-1">
			<br><br>
			<lx-button  href="#/biomedica" lx-color="red" style="width: 250px;">Ing. Biomedica</lx-button>
			<br><br>
			<lx-button href="#/electrica"  lx-color="blue" style="width: 250px;">Ing. Electrica</lx-button>
			<br><br>
			<lx-button href="#/electronica" lx-color="red" style="width: 250px;">Ing. Electronica</lx-button>
			<br><br>
			<lx-button  href="#/industrial" lx-color="orange" style="width: 250px;">Ing. Industrial</lx-button>
			<br><br>
			<lx-button  href="#/mecanica" lx-color="grey" style="width: 250px;">Ing. Mecanica</lx-button>
			<br><br>
			<lx-button  href="#/mecatronica" lx-color="black" style="width: 250px;">Ing. Mecatronica</lx-button>
			<br><br>
			<lx-button  href="#/administracion" lx-color="white" style="width: 250px;">Lic. Administracion</lx-button>
			<br><br>
			<lx-button  href="#/sistemas" lx-color="blue" style="width: 250px;">Ing. Sistemas</lx-button>
			<br><br>
			<lx-button  href="#/informatica" lx-color="blue" style="width: 250px;">Ing. Informatica</lx-button>
			<br><br>
			<lx-button  href="#/gestion" lx-color="blue" style="width: 250px;">Ing. Gestion Empresarial</lx-button>
			</div>
		</center>
	</div>

	<div class="col-xs-8">
		<img style="margin-top:80px" src="images/geebsoft.png" alt="">
	</div>
</div>