<html>
<head>
	<title>Carreras</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="divstilo.css">
</head>
<body>
	<h1>Carreras </h1>
	<center>
		<div class="col-xs-1">
		<br><br>
		<lx-button  href="#/biomedica" lx-color="red">Ing. Biomedica</lx-button>
		<br><br>
		<lx-button href="#/electrica"  lx-color="blue">Ing. Electrica</lx-button>
		<br><br>
		<lx-button href="#/electronica" lx-color="red">Ing. Electronica</lx-button>
		<br><br>
		<lx-button  href="#/industrial" lx-color="orange">Ing. Industrial</lx-button>
		<br><br>
		<lx-button  href="#/mecanica" lx-color="grey">Ing. Mecanica</lx-button>
		<br><br>
		<lx-button  href="#/mecatronica" lx-color="black">Ing. Mecatronica</lx-button>
		<br><br>
		<lx-button  href="#/administracion" lx-color="white">Lic. Administracion</lx-button>
		<br><br>
		<lx-button  href="#/sistemas" lx-color="blue">Ing. Sistemas</lx-button>
		<br><br>
		<lx-button  href="#/informatica" lx-color="blue">Ing. Informatica</lx-button>
		<br><br>
		<lx-button  href="#/gestion" lx-color="blue">Ing. Gestion Empresarial</lx-button>
		</div>
	</center>