<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pagina3</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="estilos.css">
</head>
<body>
	<div class="row">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
		    <div class="navbar-header" style="padding-left:10px">
		      <a class="navbar-brand" href="index.html">Ziix</a>
		    </div>
		    <ul class="nav navbar-nav">
		      <li><a href="index.html">Inicio</a></li>
		      <li><a href="pagina2.html">Detalles</a></li>
		      <li class="active"><a href="pagina3.html">Contacto</a></li> 
		    </ul>
		  </div>
		</nav>
	</div>
<center><h3>Primer Semestre</h3></center>
<hr>
	<div class="container-fluid">
  <div class="col-xs-6">
  	<form ng-submit="am.anadirMaestro()">
		<table class="table table-bordered">
			<caption><center>Horario Matutino</center></caption>
			<tr>				
				<th>Aula</th>
				<th>Maestro</th>
				<TH>Materia</TH>
				<th>Lunes</th>
				<th>Martes</th>
				<th>Miercoles</th>
				<th>Jueves</th>
				<th>Viernes</th>
				<th>Sabado</th>
			</tr>
			<tr>
			</tr>			
			<tr>				
				<th>A8-5</th>
				<th>Carlos Arturo Toledo Guillen</th>
				<TH>Ecuaciones Diferenciales</TH>							
				<TH>07:00 AM <br>09:00 AM</TH>
				<TH></TH>
				<TH>07:00 AM <BR>09:00 AM</TH>
				<TH></TH>
				<TH>07:00 AM <BR>08:00 AM</TH>
				<th></th>
			</tr>							
		</table>	  		  
	</form>	
  </div>
  <div class="col-xs-6">
  	<form>		
		<table class="table table-bordered">
			<caption><center>Horario Vespertino</center></caption>
			<tr>				
				<th>Aula</th>
				<th>Maestro</th>
				<TH>Materia</TH>
				<th>Lunes</th>
				<th>Martes</th>
				<th>Miercoles</th>
				<th>Jueves</th>
				<th>Viernes</th>
				<th>Sabado</th>
			</tr>
			<tr>
			</tr>			
			<tr>				
				<th>A8-5</th>
				<th>Carlos Arturo Toledo Guillen</th>
				<TH>Ecuaciones Diferenciales</TH>							
				<TH>07:00 AM <br>09:00 AM</TH>
				<TH></TH>
				<TH>07:00 AM <BR>09:00 AM</TH>
				<TH></TH>
				<TH>07:00 AM <BR>08:00 AM</TH>
				<th></th>
			</tr>							
		</table>	  		  	
	</form>
  </div>
</div>
<hr>	
</body>
</html>		

