<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pagina3</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="estilos.css">
</head>
<body>
	<div class="row">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
		    <div class="navbar-header" style="padding-left:10px">
		      <a class="navbar-brand" href="index.html">Ziix</a>
		    </div>
		    <ul class="nav navbar-nav">
		      <li><a href="index.html">Inicio</a></li>
		      <li><a href="pagina2.html">Detalles</a></li>
		      <li class="active"><a href="pagina3.html">Contacto</a></li> 
		    </ul>
		  </div>
		</nav>
	</div>

	<div class="container-fluid">
  <div class="col-xs-6">
  	<form ng-submit="am.anadirMaestro()">
		<fieldset>
			<legend>Agregar Maestro</legend>
			<div class="container">
				<div class="row">				
				</div>
				<div class="row"> 
					<div class="col-xs-3">
						<label for="FullName">Imagen de Perfil</label>
						<br>
						<br>
						<label for="Name">Nombre del Maestro</label>
						<input type="text" placeholder="Mombre" class="form-control" ng-model="am.nombreMaestro">
						<br>
						<label for="Correo">Correo Electronico</label>
						<input type="text" placeholder="Correo" class="form-control">
						<br>						
						<input type="submit" value="Guardar" class="btn btn-primary">
					</div>
				</div>
			</div>
		</fieldset>	  		  	
	</form>	
  </div>
  <div class="col-xs-6">
  	<form>
		<fieldset>
			<legend>Añadir Materia</legend>
			<div class="container">
				<div class="row">
					<div class="col-xs-3">						
						<label for="maestro">Maestro</label>	
						<select class="form-control" name="Materias">
							<option value="" ng-repeat="nombr in am.mostrarNombres" ng-if="nombr.nombre">{{nombr.nombre}}</option>
							
						</select>
						<br>
						<br>
						<label for="materias">Materias</label>						
						<select class="form-control" name="Materias">
							<option value="1">Algebra</option>
							<option value="2">calculo</option>
							<option value="3">estructura</option>
							<option value="4">diseño</option>
							<option value="5">ecuaciones</option>
						</select>
						<br>
						<br>
						<input type="submit" class="btn btn-primary">
					</div>
				</div>
			</div>
		</fieldset>	  		  	
	</form>

  </div>
</div>
<hr>