<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'template/header.html'"
        data-ng-controller="headerCtrl as hctrl">

</header>
<section id="main">
  <aside id="sidebar" data-ng-include="'template/sidebar-left.html'"
         data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

  <aside id="chat" data-ng-include="'template/chat.html'"
         data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

  <section id="content">
    <!--<div class="container" id='' style="margin-bottom: 50px; margin-left: -8px">-->
    <!--<div style="margin-left: 400px; margin-right: 400px">-->
    <!--<form ng-submit="vm.filterToSearch(vm.search)" id='search-form'>-->
    <!--<input id='search-text' class="form control" name='q' placeholder='Busqueda...' type='text'-->
    <!--ng-model="vm.search"/>-->
    <!--<button id='search-button' type='submit' style="margin-right:400px; height:40px"><span>Buscar</span></button>-->
    <!--</form>-->
    <!--</div>-->
    <!--</div>-->
    <div class="row">
      <div class="col-xs-offset-3 col-xs-6 col-xs-offset-3">
        <div class="buscar-maestros input-group fg-line">
          <input type="text" class="input-buscar form-control" placeholder="Escribe para buscar un maestro..."
                 ng-model="vm.search">
          <div class="waves-effect button-buscar input-group-addon" ng-click="vm.filterToSearch(vm.search)">Buscar</div>
        </div>
      </div>
    </div>

    <div class="container" ng-if="vm.loading">
      <div class="col-lg-offset-3 col-lg-6 col-lg-offset-3">
        <center>
          <div class="preloader pls-blue pl-xl">
            <svg class="pl-circular" viewBox="25 25 50 50">
              <circle class="plc-path" cx="50" cy="50" r="20"></circle>
            </svg>
          </div>
        </center>
      </div>
    </div>
    <div class="container" ng-repeat="maestro in vm.maestros | toArray"
         ng-hide="vm.loading" ng-show="([maestro] | filter:vm.searchFilter).length > 0">

      <div class="col-xs-offset-3 card col-xs-6 col-xs-offset-3" style="cursor: pointer" data-ui-sref="{{vm.settings.maestroPerfilUrl}}" ng-click="vm.guardarMaestro(maestro.maestroNombre)">
        <div class="card-header">
          <div class="media">
            <div class="pull-left">
              <a> <img class="lv-img" src="img/profile-pics/perfil.png"
                       alt="Click me"
                       style="width: 65px; height: auto;"> </a>
            </div>
            <div class="media-body m-t-5">
              <a ng-click=""><h2>{{maestro.maestroNombre}}</h2></a>

              <!--button class="btn btn-default btn-icon-text waves-effect" ng-repeat="materia in maestro.Materias"><i class="zmdi zmdi-close"></i>{{materia.materia}}</button-->
              <ul class="etiqueta-materias">
                <li ng-repeat="materia in maestro.materiasImpartidasPorMaestro | limitTo: 4">{{materia.materiaNombre}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <center ng-hide="vm.loading">
      <div class="viewAllComment" style="margin-right: 80px;">
        <button class=" btn btn-primary btn-sm" ng-click="">Ver mas comentarios</button>
      </div>
    </center>


    </div>
    </div>


  </section>
</section>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
