<div class="timeline">
    <div class="t-view" data-tv-type="text">
        <div class="tv-header media">
            <a href="" class="tvh-user pull-left">
                <img class="img-responsive" src="img/profile-pics/profile-pic-2.jpg" alt="">
            </a>
            <div class="media-body p-t-5">
                <strong class="d-block">Aqui saldrá la pregunta que hagan</strong>
            </div>

            
        </div>
        <div class="tv-body">
            <div class="clearfix"></div>

            <ul class="tvb-stats">
                <li class="tvbs-comments"><i class="zmdi zmdi-comment"></i> 120 <span class="hidden-xs">Comments</span></li>
                <li class="tvbs-likes"><i class="zmdi zmdi-thumb-up"></i> 34K <span class="hidden-xs">Likes</span></li>
            </ul>

            <a class="tvc-more" href=""><i class="zmdi zmdi-mode-comment"></i> View all 54 Comments</a>
        </div>

        <div class="tv-comments">
            <ul class="tvc-lists">
                <li class="media">
                    <a href="" class="tvh-user pull-left">
                        <img class="img-responsive" src="img/profile-pics/1.jpg" alt="">
                    </a>
                    <div class="media-body">
                        <strong class="d-block">David Peiterson</strong>
                        <small class="c-gray">April 23, 2014 at 05:10</small>

                        <div class="m-t-10">Maecenas fermentum tellus ex, ac aliquet nisl malesuada id.</div>

                    </div>
                </li>

                <li class="media">
                    <a href="" class="tvh-user pull-left">
                        <img class="img-responsive" src="img/profile-pics/2.jpg" alt="">
                    </a>
                    <div class="media-body">
                        <strong class="d-block">Wernall Parnell</strong>
                        <small class="c-gray">April 22, 2014 at 13:00</small>

                        <div class="m-t-10">Nulla vehicula erat nec odio dignissim, sit amet porttitor lorem auctor. Maecenas fermentum tellus ex, ac aliquet nisl malesuada id.</div>

                    </div>
                </li>

                <li class="media">
                    <a href="" class="tvh-user pull-left">
                        <img class="img-responsive" src="img/profile-pics/3.jpg" alt="">
                    </a>
                    <div class="media-body">
                        <strong class="d-block">Shane Lee Yong</strong>
                        <small class="c-gray">April 19, 2014 at 10:10</small>

                        <div class="m-t-10">Sit amet porttitor lorem auctor. Maecenas fermentum tellus ex, ac aliquet nisl malesuada idwoon lorem ipsum.</div>
                    </div>
                </li>

                <li class="p-20">
                    <div class="fg-line">
                        <textarea class="form-control auto-size" placeholder="Write a comment..."></textarea>
                    </div>

                    <button class="m-t-15 btn btn-primary btn-sm">Post</button>
                </li>
            </ul>
        </div>
    </div>
</div>
