<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

    <section id="content">
        <div class="container">
            <div class="container">
    <div class="block-header">
        <h1>Sugerencias</h1>
        <br>	
        <br>
        <!-- Form -->
        <div class="card">
            <div class="card-header ch-alt">
                <h2>Tu opinion es importante<small>Si conoces algún maestro que no se encuentre en nuestra sección de "Maestros" por favor háznoslos saber o si tienes cualquier otra sugerencia o duda.</small></h2>
            </div>

            <div class="card-body card-padding">
                
                <div class="form-group fg-float m-b-30">
                    <div class="fg-line">
                        <input type="text" class="form-control input-sm" required/>
                        <label class="fg-label">Nombre</label>
                    </div>
                </div>

                <div class="form-group fg-float m-b-30">
                    <div class="fg-line">
                        <input type="text" class="form-control input-sm">
                        <label class="fg-label">Email</label>
                    </div>
                </div>

                <div class="form-group fg-float m-b-30">
                    <div class="fg-line">
                        <input type="text" class="form-control input-sm">
                        <label class="fg-label">Numero de telefono</label>
                    </div>
                </div>

                <div class="form-group fg-float">
                    <div class="fg-line">
                        <textarea class="form-control input-sm" auto-size></textarea>
                        <label class="fg-label">Mensaje</label>
                    </div>
                </div>

                <button class="btn btn-info">Submit</button>
                <button class="btn btn-link">Cancel</button>
            </div>
        </div>
    </div>
</div>

        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
